{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    {% include 'main_app/common_meta.html' %}

    <!-- Link or CSS Tags -->
    {% include 'main_app/common_css.html' %}
    <link rel="stylesheet" href="{% static 'main_app/css/footer_style.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/profile_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
     <script>
        $(document).ready(function(){
        $(".t2").on("click",function(){
        var id2=$(this).attr('id');
        $(".t1").val(id2);
        });
        });
        </script>
    <title>Neerog User - {{Name}}</title>

</head>
<body>

    <!-- Messages -->
    {% include 'main_app/show_messages.html' %}

    <!-- Navbar -->
    {% include 'main_app/navbar.html' %}

    <!-- Profile Section -->

    <div class="profilebg"></div>

    <div id="main_profile">

        <section id="profile_card" class="row">

            <div id="profile_image" class="col-12 col-md-4 col-lg-3">
            
            {% if ProfilePictureUrl == None%}
            <img src="{% static 'user_app/images/default_profile.png' %}" class="img-fluid" alt="Profile Pic"/>
            {% else %}
            <img src="{{ProfilePictureUrl}}" class="img-fluid" alt="Profile Pic"/>
            {% endif %}
            </div>

            <div id="profile_head" class="col-12 col-md-8 col-lg-9 row">

                <div class="col-lg-5 col-12" style = "word-wrap: normal;">
                    <h2>{{Name}}
                    {% if Verified == "Yes"%}
                    <span> </span>
                    <i class="fas fa-check-circle" style="font-size:25px; color: #555;"></i>
                    {% endif %}</h2>
                    <h5>Doctor Specialized in {{SpecializedIn|title}} At {{WorksAt}}</h5>
                    <h6><i class="fas fa-map-marker-alt"></i> {{Area}}, {{City}}</h6>
                </div>

                <div class="col-lg-7 col-12" style="margin:0 auto;">
                    <div class="star_rating row">

                        <div class="col-5 your_rating">My Rating:</div>

                        <div class="col-7">
                        <form class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" onclick="location.href='{% url 'rate' uid=uid rating=1 %}'"/>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" onclick="location.href='{% url 'rate' uid=uid rating=2 %}'"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" onclick="location.href='{% url 'rate' uid=uid rating=3 %}'"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>   
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" onclick="location.href='{% url 'rate' uid=uid rating=4 %}'"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" onclick="location.href='{% url 'rate' uid=uid rating=5 %}'"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                        </form>
                        </div>
                    </div>

                    <div class="follow_email row">

                    {% if Myself %}
                    <div class="col-md-5 follow"><a href="{% url 'edit_profile' %}" class="btn btn-info">Edit Profile</a></div>
                    {% else %}
                        {% if Following %}
                        <div class="col-md-5 follow"><a href="{% url 'unfollow' uid=uid %}" class="btn btn-info">Following</a></div>
                        {% else %}
                        <div class="col-md-5 follow"><a href="{% url 'follow' uid=uid %}" class="btn btn-info">Follow</a></div>
                        {% endif %}
                    {% endif %}
                        <div class="col-md-7 profileemail"><a href="mailto:{{Email}}" style = "display: inline-block; word-break: break-word; word-wrap: break-word;">{{Email}}</a></div>
                    </div>

            </div>
        </section>

        <section id="profile_body" class="row">
            <section id="left_profile_section" class="col-12 col-lg-3">
                <div>
                    
                    <h4>Contact:</h4>
                    <p>{{Phone}}</p>
                    <h4>Gender:</h4>
                    <p>{{Gender}}</p>
                    <h4>Country:</h4>
                    <p>{{Country}}</p>
                    <h4>State:</h4>
                    <p>{{State}}</p>
                    <h4>City:</h4>
                    <p>{{City}}</p>
                    <h4>Area Of Expertise:</h4>
                    <p>{{SpecializedIn|title}}</p>
                    <h4>Years Of Experience:</h4>
                    <p>{{Experience}} Years</p>
                    <h4>Number of Followers: </h4>
                    <p>{{Followers}}</p>
                    <h4>Date Joined:</h4>
                    <p>{{DateJoined}}</p>
                    <h4>Verified User:</h4>
                    <p>{{Verified}}</p>
                    
                </div>
            </section>
            <section id="right_profile_section" class="col-lg-9 col-12">

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active big_img">
                    <img class="d-block w-100" src="{{InstitutePhotoUrl}}" alt="Doctor's Organization Image">
                    </div>
                </div>
                </div>
                <div>
                    <h4>About Me:</h4>
                    <p class="about_me">{{About}}</p>
                </div>
            </section>
        </section>

        <section id="free_timing">
            <div class="row">
                <div class="col-lg-3 col-12 left">
                    <h4>Appointment Date:</h4>
                    <form action="{% url 'setDate' uid=uid %}" method="post" id="dateform">
                    {% csrf_token %}
                    <input type="date" name="date" id="Appointment_Date" value="{{ SelectedDate|date:"Y-m-d" }}" min="{{ Today|date:"Y-m-d" }}">
                    </form>

                    <h4>Mode of Appointment</h4>
                    <form action="{% url 'setMode' uid=uid %}" method="post" id="modeform">
                    {% csrf_token %}
                    <select id="mode" name="mode">
                        <option value="Online" {% if SelectedMode == "Online"%}selected{% endif %}>Remote (via Zoom Call)</option>
                        <option value="Offline" {% if SelectedMode == "Offline"%}selected{% endif %}>Offline (Physical Meeting)</option>
                    </select>
                    </form>

                    <h4>Consultation Fee:</h4>
                    <input type="text" id="fee" value="Rs. {{ Fee }} Only" readonly>
                </div>
                <div class="col-lg-9 col-12"> 
                    <h3>Time Slots Available for Appointment on {{ SelectedDate|date:"l, d F, Y" }}</h3>
                    <form action="{% url 'Payment' %}" method="get">
                        {% csrf_token %}
                    <div class="row slot_buttons">
                        {% for slot in AvailableSlots %}
                        <div class="col-lg-3 col-md-4 col-6">
                            <input type="text"  name="service_provider_id" value="{{ uid|add:'-1' }}" hidden>
                            <input type="text" class="t1" value="" name="time_slot" hidden>
                            <button type="submit" id="{{ slot|time:'H:i:s' }}" class="btn t2">{{ slot|time:"h:i A" }}</button>
                        </div>
                        {% endfor %}
                    </div>
                    </form>
                </div>
            </div>
        </section>

    </div>

   <script>
    var stars=document.querySelectorAll(".rating input[type='radio']");
    if({{MyRating}} != 0)
    {
        stars[{{MyRating}}-1].checked = true;
    }

    var date = document.querySelector('#Appointment_Date');
    date.addEventListener("change",changeDate);
    function changeDate()
    {
        var dateform = document.querySelector('#dateform');
        dateform.submit();
    }

    var mode = document.querySelector('#mode');
    mode.addEventListener("change",changeMode);
    function changeMode()
    {
        var modeform = document.querySelector('#modeform');
        modeform.submit();
    }

   </script>
      
    <!-- JavaScript -->
    {% include 'main_app/common_js.html' %}
</body>
</html> 