{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    {% include 'main_app/common_meta.html' %}

    <!-- Link or CSS Tags -->
    {% include 'main_app/common_css.html' %}
    <link rel="stylesheet" href="{% static 'main_app/css/footer_style.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/profile_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>

    <title>Neerog - Remote Medical Services</title>

</head>
<body>

    <!-- Messages -->
    {% include 'main_app/show_messages.html' %}

    <!-- Navbar -->
    {% include 'main_app/navbar.html' %}

    <!-- Profile Section -->

    <div class="profilebg"></div>
    <div id="main_profile">

        <section id="profile_card" class="row">

            <div id="profile_image" class="col-12 col-md-4 col-lg-3">
            <img src="{{ProfilePictureUrl}}" class="img-fluid" alt="Profile Pic"/>
            </div>

            <div id="profile_head" class="col-12 col-md-8 col-lg-9 row">

                <div class="col-lg-5 col-12" style = "word-wrap: normal;">
                    <h2>{{Name}}
                    {% if Verified == "Yes"%}
                    <span> </span>
                    <i class="fas fa-check-circle" style="font-size:25px; color: #555;"></i>
                    {% endif %}</h2>
                    <h5>Doctor Specialized in {{SpecializedIn}} At {{WorksAt}}</h5>
                    <h6><i class="fas fa-map-marker-alt"></i> {{Area}}, {{City}}, {{Country}}</h6>
                </div>

                <div class="col-lg-7 col-12" style="margin:0 auto;">
                    <div class="star_rating row">

                        <div class="col-5 your_rating">My Rating:</div>

                        <div class="col-7">
                        <form class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" onclick="location.href='{% url 'rate' uid=uid rating=1 %}'"/>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" onclick="location.href='{% url 'rate' uid=uid rating=2 %}'"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" onclick="location.href='{% url 'rate' uid=uid rating=3 %}'"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>   
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" onclick="location.href='{% url 'rate' uid=uid rating=4 %}'"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" onclick="location.href='{% url 'rate' uid=uid rating=5 %}'"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                        </form>
                        </div>
                    </div>

                    <div class="follow_email row">

                    {% if Myself %}
                    <div class="col-5 follow"><a href="{% url 'edit_profile' %}" class="btn btn-info">Edit Profile</a></div>
                    {% else %}
                        {% if Following %}
                        <div class="col-5 follow"><a href="{% url 'unfollow' uid=uid %}" class="btn btn-info">Following</a></div>
                        {% else %}
                        <div class="col-5 follow"><a href="{% url 'follow' uid=uid %}" class="btn btn-info">Follow</a></div>
                        {% endif %}
                    {% endif %}
                        <div class="col-7 profileemail"><a href="mailto:{{Email}}" style = "display: inline-block; word-break: break-word; word-wrap: break-word;">{{Email}}</a></div>
                    </div>

            </div>
        </section>

        <section id="profile_body" class="row">
            <section id="left_profile_section" class="col-12 col-lg-3">
                <div>
                    <h4>About Me:</h4>
                    <p class="about_me">{{About}}</p>
                    <h4>Contact:</h4>
                    <p>{{Phone}}</p>
                    <h4>Area Of Expertise:</h4>
                    <p>{{SpecializedIn}}</p>
                    <h4>Years Of Experience:</h4>
                    <p>{{Experience}} Years</p>
                    <h4>Gender:</h4>
                    <p>{{Gender}}</p>
                    <h4>Date Joined:</h4>
                    <p>{{DateJoined}}</p>
                    <span style="display: block;">
                    <h4 style="display: inline;">Followers: </h4><span>{{Followers}}</span>
                    
                </div>
            </section>
            <section id="right_profile_section" class="col-lg-9 col-12">

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img class="d-block w-100"  style="height: 750px; border:solid" src="{{InstitutePhotoUrl}}" alt="Doctor's Organization Image">
                    </div>
                </div>
                </div>
            </section>


            <section id="free_timing">
                
            </section>
        </section>
    </div>

   <script>
    var stars=document.querySelectorAll(".rating input[type='radio']");
    if({{MyRating}} != 0)
    {
        stars[{{MyRating}}-1].checked = true;
    }
   </script>



    <!-- Footer -->
    {% include 'main_app/footer.html' %}
      
    <!-- JavaScript -->
    {% include 'main_app/common_js.html' %}
</body>
</html> 