{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    {% include 'main_app/common_meta.html' %}

    <!-- Link or CSS Tags -->
    {% include 'main_app/common_css.html' %}
    <link rel="stylesheet" href="{% static 'main_app/css/footer_style.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/profile_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>

    <title>Neerog - Edit Profile</title>

    <script>
        $(document).ready(function(){
        $("#countries").on("change",function(){
        var country=$("#countries").val();
        $.ajax(
        {
             type:"get",
             url:"/Hospital_Selection/states/",
             data:
             {
              country:$("#countries").val()
             },
             success:function(data)
             {
             var states=JSON.stringify(data);
             var p=states.split(",");

             $("#states").empty();
             $("#states").append('<option value="">Select State</option>');
             for(var i=0;i<p.length;i++)
             {
              var k=p[i].replace("\[","")
             var n=k.replace("\]","")
             var optionText=n.slice(1,n.length-1)
                $("#states").append(`<option value="${optionText}">
                                       ${optionText}
                                  </option>`);
             }
             }
        });
        });
        $("#states").on("change",function(){
        var state=$("#states").val();
        if(state=="")
             alert("Select Appropriate State");
        $.ajax(
        {
             type:"get",
             url:"/Hospital_Selection/city/",
             data:
             {
              city:$("#states").val()
             },
             success:function(data)
             {
             var states=JSON.stringify(data);
             var p=states.split(",");

             $("#cities").empty();
             $("#cities").append(`<option value="Select">
                                       Select City
                                  </option>`);

             for(var i=0;i<p.length;i++)
             {
             var k=p[i].replace("\[","")
             var n=k.replace("\]","")
             var optionText=n.slice(1,n.length-1)

                $("#cities").append(`<option value="${optionText}">
                                       ${optionText}
                                  </option>`);
             }
             }
        });
        });
        });
    </script>


</head>
<body>
    {% include 'main_app/redirect_user.html' %}

    <!-- Messages -->
    {% include 'main_app/show_messages.html' %}

    <!-- Navbar -->
    {% include 'main_app/navbar.html' %}

    <!--Edit Profile Section -->

    <div class="editprofilebg"></div>

    <div id="edit_main_profile">
        <h2>Edit Profile Details</h2>
        <form method="POST" action="{% url 'edit_doctor' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-3">
                <label for="myname">Name</label>
                <input type="text" class="form-control" name="name" id="myname" placeholder="Name" value="{{Name}}" required>
                </div>
                <div class="form-group col-md-3">
                <label for="Phone">Phone</label>
                <input type="number" class="form-control" name="phone" id="Phone" placeholder="Phone or Mobile Number" value="{{Phone}}" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="Gender">Gender</label>
                    <select id="Gender" class="form-control" name="gender" required>
                        <option selected>{{Gender}}</option>
                        {% for gd in AllGenders%}
                            {% if gd != Gender%}
                            <option>{{gd}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="Experience">Experience (In Yrs)</label>
                    <input type="number" class="form-control" id="Experience" placeholder="Experience In Years" name="experience" value="{{Experience}}" required>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-3">
                    <div class="form-group editpic">
                        <div>
                            <img src="{{ProfilePictureUrl}}" height="200px" width="200px">
                        </div>
                        <div>
                            <label for="profilepic">Edit Profile Pic</label>
                            <input type="file" class="form-control-file" id="profilepic" name="profilepic" style="display: none;">
                            <p>No File Selected</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">    
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="type">Type of Practice</label>
                            <select name="is_independent" class="form-control" id="type" required>
                                <option value="True" {% if independent %} selected {% endif %}>I'm Independent or Own A Clinic</option>
                                <option value="False"{% if independent == False %} selected {% endif %}>I Work With A Hospital</option>
                            </select>
                        </div>
                        <div class="form-group col-md-5">
                        <label for="Specialization">Specialization</label>
                        <select name="specialization" id="Specialization" class="form-control" required>
                            <option selected>{{SpecializedIn}}</option>
                            {% for sp in AllSpecialities%}
                                {% if sp != SpecializedIn%}
                                <option>{{sp}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="About">About Me</label>
                        <textarea name="about" class="form-control" id="About" rows="4" required>{{About}}</textarea>
                    </div>
                </div>
                
            </div>

            <div class="form-row" id="hospital_details" {% if independent %} style="display:none;"{% endif %}>
                <div class="form-group col-md-4 editbuttons">
                    <button type="submit" class="btn btn-primary save_button">Save</button>
                    <button class="btn btn-danger" type="button" onclick="location.reload()">Reset</button>
                    <span class="form_feedback"></span>
                </div>
                <div class="form-group col-md-4">
                    <label for="HospitalId">Hospital Id</label>
                    <input name="hospitalid" type="number" class="form-control" id="HospitalId" placeholder="Enter Hospital Id" value="{{HospitalId}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="HospitalName">Hospital Name</label>
                    <input type="text" class="form-control" id="HospitalName" placeholder="Hospital Name" value="{{WorksAt}}" disabled>
                </div>
            </div>


            <div id="clinic_details" {% if independent == False %} style="display:none;"{% endif %}>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="countries">Country</label>
                    <select name="country" id="countries" class="form-control">
                        <option value="{{Country}}" selected>{{Country}}</option>
                        {% for c in Countries %}
                            {% if c != Country%}
                            <option value="{{c}}">{{c}}</option>
                            {% endif %}
                        {% endfor%}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="states">State</label>
                    <select name="state" id="states" class="form-control">
                        <option value="{{State}}" selected>{{State}}</option>
                        {% for s in States %}
                            {% if s != State %}
                            <option value="{{s}}">{{s}}</option>
                            {% endif %}
                        {% endfor%}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="cities">City</label>
                    <select name="city" id="cities" class="form-control">
                        <option value="{{City}}" selected>{{City}}</option>
                        {% for c in Cities %}
                            {% if c != City%}
                            <option value="{{c}}">{{c}}</option>
                            {% endif %}
                        {% endfor%}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="Area">Area</label>
                    <input name="area" type="text" class="form-control" id="Area" placeholder="Area" value="{{Area}}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="Zip">ZIP</label>
                    <input type="number" name="zip" class="form-control" id="Zip" placeholder="Zip Code" value="{{Zip}}">
                </div>
                <div class="form-group col-md-3">
                <label for="ClinicName">Clinic Name</label>
                <input type="text" name="cname" class="form-control" id="ClinicName" placeholder="Clinic Name" value="{{WorksAt}}">
                </div>
                <div class="form-group col-md-3">
                <label for="Fee">Fee (In INR)</label>
                <input type="number" name="fee" class="form-control" id="Fee" placeholder="Appointment Fee" value="{{Fee}}">
                </div>
                <div class="form-group col-md-3">
                    <label for="ClinicPhoto">Clinic Photo</label>
                    <input name="cphoto" type="file" class="form-control-file" id="ClinicPhoto" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    <a href="{{InstitutePhotoUrl}}">View Saved Clinic Photo</a>
                </div>
            </div>

            <div class="form-group col-md-12 editbuttons">
                <button type="submit" class="btn btn-primary save_button">Save</button>
                <button class="btn btn-danger" type="button" onclick="location.reload()">Reset</button>
                <span class="form_feedback"></span>
            </div>

        </div>
        
        </form>
    </div>

    <script>
        

        var file = document.querySelector(".editpic input");
        file.addEventListener("change",showFileName);

        function showFileName()
        {
            let filename = document.querySelector(".editpic p");
            if(file.value == "")
            {
                filename.innerHTML = "No File Selected"
            }
            else
            {
                filename.innerHTML = file.files.item(0).name;
            }
        }

        var type=document.getElementById('type');
        type.addEventListener("change",showMoreDetails);
        type.addEventListener("change",checkClinic);
        type.addEventListener("change",checkHospital);
        var hd=document.getElementById('hospital_details');
        var cd=document.getElementById('clinic_details');
        
        function showMoreDetails()
        {
            if(type.value == "True")
            {
                hd.style.display = "none";
                cd.style.display = "block";
            }
            else
            {
                cd.style.display = "none";
                hd.style.display = "block";
            }
        }

        var myname=document.getElementById('myname');        
        myname.addEventListener("keyup",check);
        
        var phone=document.getElementById('Phone');
        phone.addEventListener("keyup",check);

        var about=document.getElementById('About');
        about.addEventListener("keyup",check);

        var experience=document.getElementById('Experience');
        experience.addEventListener("keyup",check);

        var feedback = document.querySelectorAll(".form_feedback")[0];
        var feedback2 = document.querySelectorAll(".form_feedback")[1];
        var savebtn = document.querySelectorAll(".save_button")[0];
        var savebtn2 = document.querySelectorAll(".save_button")[1];
        
        function check()
        {
            savebtn.disabled = true;
            savebtn2.disabled = true;
            if(myname.value=="")
            {
                feedback.innerHTML = "*Please Fill The Name Field...";
                feedback2.innerHTML = "*Please Fill The Name Field..."; 
            }
            else
            {
                if(phone.value.length < 10)
                {
                    feedback.innerHTML = "*Phone Number Must Be of 10 digits.";
                    feedback2.innerHTML = "*Phone Number Must Be of 10 digits.";
                }
                else
                {
                    if(experience.value=="")
                    {
                        feedback.innerHTML = "*Please Fill Experience Field.";
                        feedback2.innerHTML = "*Please Fill Experience Field."; 
                    }
                    else
                    {
                        if(about.value=="")
                        {
                            feedback.innerHTML = "*Please Write Something About Yourself..."; 
                            feedback2.innerHTML = "*Please Write Something About Yourself..."; 
                        }
                        else
                        {
                            feedback.innerHTML = "";
                            feedback2.innerHTML = "";
                            savebtn.disabled = false;
                            savebtn2.disabled = false;
                        }
                    }
                }
            }
        }

        var area=document.getElementById('Area');
        area.addEventListener("keyup",checkClinic);

        var cname=document.getElementById('ClinicName');
        cname.addEventListener("keyup",checkClinic);

        var fee=document.getElementById('Fee');
        fee.addEventListener("keyup",checkClinic);

        var zip=document.getElementById('Zip');
        zip.addEventListener("keyup",checkClinic);

        var cphoto = document.getElementById('ClinicPhoto');
        cphoto.addEventListener("keyup",checkClinic);

        function checkClinic()
        {
            if(type.value == "True")
            {
                savebtn.disabled = true;
                savebtn2.disabled = true;
                if(area.value=="")
                {
                    feedback2.innerHTML = "*Please Enter The Clinic Area/Location."; 
                }
                else
                {
                    if(cname.value=="")
                    {
                        feedback2.innerHTML = "*Please Enter Your Clinic Name.";
                    }
                    else
                    {
                        if(fee.value=="")
                        {
                            feedback2.innerHTML = "*Please Specify The Appointment Fee for Clinic."; 
                        }
                        else
                        {
                            if(zip.value=="")
                            {
                                feedback2.innerHTML = "*Please Specify The Zip Code of Clinic's Area."; 
                            }
                            else
                            {
                                feedback2.innerHTML = "";
                                savebtn.disabled = false;
                                savebtn2.disabled = false;
                            }
                        }
                    }
                }
            }
        }

        var hid=document.getElementById('HospitalId');
        hid.addEventListener("keyup",checkHospital);

        function checkHospital()
        {
            if(type.value == "False")
            {
                savebtn.disabled = true;
                savebtn2.disabled = true;
                if(hid.value=="")
                {
                    feedback.innerHTML = "*Please Enter Your HospitalId."; 
                }
                else
                {
                    feedback.innerHTML = "";
                    savebtn.disabled = false;
                    savebtn2.disabled = false;
                }
            }
        }


    </script>
      
    <!-- JavaScript -->
    {% include 'main_app/common_js.html' %}
</body>
</html> 