@media only screen and (max-width: 360px) {
    .form_select
        {
            margin-left:10px;
            width:50px;
            border-radius:1px;

        }
    #submit_form
    {
      font-size:10px;
      width:50px;
      height:25px;
      margin-top:-8px;
     }
    #div_form
        {
           position:absolute;
           margin-top:-250px;
           margin-left:30px;
        }
    .col-sm-4
        {
          width:120px;
         }
    .img1
    {
     height:90px;
    }
    .row
    {
    margin-left:5px;
    }
    .btn
    {
      font-size:10px;
     }
    .card
    {
       margin-left:0px;
       }
     th
     {
        font-size:10px;
        }
     td
     {
        font-size:10px;
        }
     }
     .form_select
        {
            width:150px;
            border-radius:3px;
            margin-left:100px;
            height:30px;
        }
        #div_form
        {
           position:absolute;
           margin-top:-250px;
           margin-left:100px;
        }
        #submit_form
        {
        font-size:15px;
        width:100px;
        height:30px;
        margin-top:-8px;
        margin-left:90px;
        }
