@media only screen and (max-width: 720px) {
        #countries
        {
         margin-left:0px;
            width:30px;
            height:30px;
            border-radius:1px;
            font-size:10px;
        }
        #states
        {
            margin-left:0px;
            width:80px;
            height:30px;
            border-radius:1px;
            font-size:10px;

        }
        #cities
        {
        margin-left:0px;
            width:30px;
            height:30px;
            border-radius:1px;
            font-size:10px;

        }
    #submit_form
        {
            font-size:10px !important;
            width:60px !important;
            height:30px !important;
            margin-top:-28px !important;
            margin-left:10px !important;

        }
    #div_form
        {
           position:absolute;
           margin-top:-250px;
           margin-left:30px;
        }
    .img1
    {
     height:150px;
    }
    .row
    {
    margin-left:5px;
    }
    .btn
    {
      font-size:10px;
     }
    .card
    {
       margin-left:0px;
       
    }
     th,td
     {
        font-size:10px;
     }
     }
     .form_select
        {
            width:150px;
            border-radius:3px;
            margin-left:100px;
            height:40px;
        }
        #div_form
        {
           position:absolute;
           margin-top:-250px;
           margin-left:100px;
        }
        image
        {
           height:10px;
        }
        #submit_form
        {
        font-size:15px;
        width:100px;
        height:40px;
        margin-top:-8px;
        margin-left:90px;
        }
