{% load static %}
<!-- Signin or Login Page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    {% include 'main_app/common_meta.html' %}

    <!-- Link or CSS Tags -->
    {% include 'main_app/common_css.html' %}
    <link rel="stylesheet" href="{% static 'accounts/css/signup_style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Neerog - Testing Lab Registeration</title>

    <script>
        $(document).ready(function(){
        $("#countries").on("change",function(){
        var country=$("#countries").val();
        if(country=="Select")
             alert("Select Appropriate Country");
        $.ajax(
        {
             type:"get",
             url:"/Hospital_Selection/states/",
             data:
             {
              country:$("#countries").val()
             },
             success:function(data)
             {
             var states=JSON.stringify(data);
             var p=states.split(",");

             $("#states").empty();
             $("#states").append('<option value="">Select State</option>');
             for(var i=0;i<p.length;i++)
             {
              var k=p[i].replace("\[","")
             var n=k.replace("\]","")
             var optionText=n.slice(1,n.length-1)
                $("#states").append(`<option value="${optionText}">
                                       ${optionText}
                                  </option>`);
             }
             }
        });
        });
        $("#states").on("change",function(){
        var state=$("#states").val();
        if(state=="")
             alert("Select Appropriate State");
        $.ajax(
        {
             type:"get",
             url:"/Hospital_Selection/city/",
             data:
             {
              city:$("#states").val()
             },
             success:function(data)
             {
             var states=JSON.stringify(data);
             var p=states.split(",");

             $("#cities").empty();
             $("#cities").append(`<option value="Select">
                                       Select City
                                  </option>`);

             for(var i=0;i<p.length;i++)
             {
             var k=p[i].replace("\[","")
             var n=k.replace("\]","")
             var optionText=n.slice(1,n.length-1)

                $("#cities").append(`<option value="${optionText}">
                                       ${optionText}
                                  </option>`);
             }
             }
        });
        });
        });
    </script>

</head>
<body style="background-color: #ddd;">

    <!-- Messages -->
    {% include 'main_app/show_messages.html' %}

    <!-- Navbar -->
    {% include 'main_app/navbar.html' %}

    <div class="tlabbg"></div>

    <form method="post" class="login-form" action="{% url 'register_tlab' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Register - Testing Lab</h1>

    <div class="textb" style="clear:left; width: 49%; float: left; height: 70px; ">
        <select name="country" class="country" id="countries" required style="height: 70px;">
            <option value="">Select Country</option>
            {% for country in countries %}
            <option value="{{country}}">{{country}}</option>
            {% endfor%}
        </select>
    </div>

    <div class="textb" style="width: 49%; float: right; height: 70px; ">
        <select name="state" class="state" id="states" required style="height: 70px;">
            <option value="">Select State</option>
        </select>
    </div>

    <!-- Make a hidden country form that copies values of country and submits on change. -->
    <div class="textb" style="clear:left; width: 49%; float: left; height: 70px; ">
        <select name="city" class="city" id="cities" required style="height: 70px;">
            <option value="">Select City</option>
        </select>
    </div>

    <div class="textb" style="width: 49%; float: right;">
        <input type="number" name="zip" id="ZIP" required>
        <div class="placeholder">ZIP Code</div>
    </div>

    <div class="textb area" style="clear: left;">
        <input type="text" name="area" required>
        <div class="placeholder">Area, Road or Street</div>
    </div>

    <div class="textb phone">
        <input type="text" name="phone" required>
        <div class="placeholder">Phone or Mobile</div>
    </div>

    <div class="textb" style="height: 70px; ">
        <label for="testcategory" class="file_label" style="width: 24%; float: left; height: 70px; padding:5px 0; text-align: center;">Select Type Of Test</label>
        <select class="testcategory" id="testcategory" required style="height: 70px; width: 74%; float: right;">
            {% for tc in tests %}
            <option value="{{tc.category}}">{{tc.category}}</option>
            {% endfor%}
        </select>
    </div>

    <div class="specialization" style="clear:left;">
        {% for tc in tests%}
        <div class = "testgroup" id="{{tc.category}}">
            {% for sp in tc.testlist %}
            <div style="padding: 10px 0; overflow: hidden;
            text-overflow: ellipsis;">
            <div class="checkbox" style="width: 45%; float: left; padding-left: 10px; height: 20px; clear: left;">
                <input type="checkbox" name="specialization" value="{{sp}}">
                <div class="fas fa-check"></div>
                {{sp}}
            </div>
            <div class="textb price" style="width: 53%; float: right; height: 20px; ">
                <input type="text" name="{{sp}}" id="{{sp}}" disabled>
                <div class="placeholder">Pricing In Rupees</div>
            </div>
            </div>
            {% endfor %}
        </div>  
        {% endfor %}
    </div>

    <div style="padding-top: 20px; clear: left;"></div>
    
    <div class="textb">
        <label for="pic1" class="file_label">Testing Lab Photo</label>
        <input type="file" class="file_input" name="pic1" required>
    </div>

    <div class="textb">
        <label for="proof" class="file_label">License or Certification Of Lab</label>
        <input type="file" class="file_input" name="proof" required>
    </div>
    
    <div class="textb form_feedback"></div>

    <button class="btn" disabled>Submit</button>
    </form>

    <script>

    function validateNumber(mynumber) 
    {
        if (/^\d+$/.test(mynumber))
        {
            return (true)
        }
        return (false)
    }

    function validatePhone(myphone)
    {
        if(myphone.length == 10 && validateNumber(myphone) == true)
        {
            return (true)
        }
        return (false)
    }

    function validateFile(filePath)
    {
        let allowedExtensions =  /(\.doc|\.docx|\.odt|\.pdf|\.jpeg|\.jpg|\.rtf|\.png)$/i;     
        if (!allowedExtensions.exec(filePath)) 
        { 
            filePath = '';
            return false;
        }
        else
        {
            return true;
        }
    }

    function validateImage(filePath)
    {
        let allowedExtensions =  /(\.jpeg|\.jpg|\.gif\.png)$/i;     
        if (!allowedExtensions.exec(filePath)) 
        { 
            filePath = '';
            return false;
        }
        else
        {
            return true;
        }
    }

    var btn = document.querySelector(".btn");

    var area=document.querySelectorAll(".area input")[0];
    area.addEventListener("keyup",check);

    var phone=document.querySelectorAll(".phone input")[0];
    phone.addEventListener("keyup",check);

    var specialization=document.querySelectorAll(".specialization input[type='checkbox']");
    for(sp of specialization)
    {
        sp.addEventListener("click",enableInput);
        sp.addEventListener("click",check);
    }

    var country=document.getElementById('countries');
    country.addEventListener("change",check);

    var state=document.getElementById('states');
    state.addEventListener("change",check);

    var city=document.getElementById('cities');
    city.addEventListener("change",check);

    var zip=document.getElementById('ZIP');
    zip.addEventListener("keyup",check);

    var hospital_pic =  document.querySelectorAll('.file_input')[0];
    hospital_pic.addEventListener("change",check);

    var certificate =  document.querySelectorAll('.file_input')[1];
    certificate.addEventListener("change",check);

    var feedback = document.querySelector(".form_feedback")
    function check()
    {
        let checked = document.querySelectorAll(".specialization input[type='checkbox']:checked");
        if(country.value != "")
        {
            if(state.value != "")
            {   
                if(city.value != "")
                {
                    if(zip.value.length <= 6 && zip.value.length>0)
                    {
                        if(area.value != "")
                        {
                            if(validatePhone(phone.value) == true)
                            {
                                if(checked.length > 0)
                                {
                                    let priceverified = true;
                                    for(ch of checked)
                                    {
                                        let pricebox=document.getElementById(ch.value);
                                        if(!validateNumber(pricebox.value))
                                        {
                                            priceverified = false;
                                        }
                                    }
                                    if(priceverified)
                                    {
                                        if(validateImage(hospital_pic.value))
                                        {
                                            if(validateFile(certificate.value))
                                            {
                                                feedback.innerHTML = "";
                                                btn.disabled = false;
                                            }
                                            else
                                            {
                                                feedback.innerHTML = "*Please Submit A Valid License of the Hospital.";
                                                btn.disabled = true;
                                            }
                                        }
                                        else
                                        {
                                            feedback.innerHTML = "*Please Submit a Valid Image of the Hospital.";
                                            btn.disabled = true;
                                        }
                                    }
                                    else
                                    {
                                        feedback.innerHTML = "*Please Enter Numeric Price for All Selected Tests.";
                                        btn.disabled = true;
                                    }    
                                }
                                else
                                {
                                    feedback.innerHTML = "*Please Select Atleast One Medical Speciality.";
                                    btn.disabled = true;
                                }
                            }
                            else
                            {
                                feedback.innerHTML = "*Please Enter a Valid Phone Number.";
                                btn.disabled = true;
                            }
                        }
                        else
                        {
                            feedback.innerHTML = "*Please Enter the Area or Locality of the Hospital.";
                            btn.disabled = true;
                        }
                    }
                    else
                    {
                        feedback.innerHTML = "*Please Enter ZIP Code.";
                        btn.disabled = true;
                    }
                }
                else
                {
                    feedback.innerHTML = "*Please Select A City.";
                    btn.disabled = true;
                }
            }
            else
            {
                feedback.innerHTML = "*Please Select A State.";
                btn.disabled = true;
            }
        }
        else
        {
            feedback.innerHTML = "*Please Select A Country.";
            btn.disabled = true;
        } 
    }


    allprice = document.querySelectorAll('.price input');

    function enableInput()
    {
        for(p of allprice)
        {
            p.disabled = true;
        }
        let checked = document.querySelectorAll(".specialization input[type='checkbox']:checked");
        for(ch of checked)
        {
            let pricebox=document.getElementById(ch.value);
            pricebox.disabled = false;
            pricebox.addEventListener("keyup",check);
        }
    }

    var testcategory = document.getElementById('testcategory');
    testcategory.addEventListener("change",hideTests);
    var alltests = document.querySelectorAll(".testgroup");

    function hideTests()
    {
        for(testgroup of alltests)
        {
            if(testgroup.id == testcategory.value)
            {
                testgroup.style.display = "block";
            }
            else
            {
                testgroup.style.display = "none";
            }
        }
    }

    hideTests();
    </script>

    <!-- JavaScript -->
    {% include 'main_app/common_js.html' %}
</body>
</html> 