<!DOCTYPE html>
<html lang="en">
{% load extras %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    {% include "main_app/header.html" %}
     {% include "main_app/common_css.html" %}

    <style>
    .cha
    {
     width:95%;
     margin-left:20px;
    }
    .da
    {
       width:300px;
       margin-left:20px;
    }
        .card-header
    {
    background-color:#404040;
    color:white;
    border-radius:20px;
    text-align:center;
    }
    h1
    {
     color:blue;
     text-align:center;
     }
     .col-lg-3
     {
      margin-top:10px;
      }
      .sticky th
     {
     background-color:#404040;
     position:sticky;
     top:0;
     }
    </style>
    <script>
        $(document).ready(function()
        {
       $("#filters2").on("change",function(){
        var filter=$("#filters2").val();
        if(filter=="Select")
             alert("Select Appropriate Filter");
        else
        {
            {% for i in speciality %}
                var p="."+i
                {% ifequal i filter %}
                     $(p).css({"display":"block"})
                 {% else %}
                    $(p).css({"display":"none"})
                 {% endifequal %}
             {% endfor %}
         }
         });
         });
    </script>
    <script>
    $(document).ready(function()
        {
        var str1="."+"{{ filter_type }}";
        $(str1).attr("selected","selected");
        if(str1==".Date")
        {
             $("#search_value").css({"display":"block"});
            $("#search_value").empty();
              $("#search_values1").css({"display":"none"})
            $("#search_value").append(`<input type="date" id="Date" class="form-control" value="{{ search_value }}" required name="search_values">
                                  </input>`);
        }
           else if(str1==".speciality")
            {

            $("#search_value").empty();
            $("#search_value").css({"display":"none"});
            $("#search_values1").css({"display":"block"});
            }
            else{
             $("#search_values1").css({"display":"block"});
             $("#search_value").empty();
               $("#search_values1").css({"display":"none"});
            $("#search_value").append(`<input type="text" class="form-control" value="{{ search_value }}" required name="search_values">
                                  </input>`);}


       $("#filters").on("change",function(){
        var filter=$("#filters").val();
        if(filter=="Select")
             alert("Select Appropriate Filter");
        else
        {
            if(filter=="Date"){

             $("#search_value").css({"display":"block"});
            $("#search_value").empty();
              $("#search_values1").css({"display":"none"})
            $("#search_value").append(`<input type="date" id="Date" class="form-control" required name="search_values">
                                  </input>`);}
            else if(filter=="speciality")
            {

            $("#search_value").empty();
            $("#search_value").css({"display":"none"});
            $("#search_values1").css({"display":"block"});
            }
            else{

             $("#search_values1").css({"display":"block"});
             $("#search_value").empty();
               $("#search_values1").css({"display":"none"});
            $("#search_value").append(`<input type="text" class="form-control" required name="search_values">
                                  </input>`);}
                                  }
                                  });
                                  });

$(document).ready(function()
        {
        $("#available").click(function()
        {
         if($(this).prop("checked") ==true){
         $(".Non_Available_date").css({"display":"block"});
         }
         if($(this).prop("checked") ==false){
         $(".Non_Available_date").css({"display":"none"});

         }
         });
         });
function validate()
        {
        var start=document.getElementById("start").value;
        var end=document.getElementById("end").value;
        var d=new Date();
        var d2=new Date(start);
        var d1=new Date(end);
        if(!Date.parse(start) || !Date.parse(end)){
         alert('Please Select Appropriate Date');

            return false;
        }
        if(!(d1>=d2)){
             alert('Please Select Appropriate Date');
            return false;
        }
 }
 </script>
</head>
{% include 'main_app/navbar.html' %}
<body class="container-fluid" style="margin-top:80px;">
<!--button class="btn btn-success " onclick="location.href='{% url 'add_news' id=hospitalid %}'" style="float:left;">Edit Profile</button-->
<!--button class="btn btn-success " onclick="location.href='{% url 'add_news' id=hospitalid %}'">Add News/Events</button-->
<div style="margin-top:50px;">
    <form action="{% url 'report' %}" method="post" onsubmit="return validate()">
                {% csrf_token %}
            <div class="row">
                <div class="col-lg-2" style="margin-top:20px;">
                <button class="btn btn-success" type="button" onclick="location.href='{% url 'add_news' id=hospitalid %}'" style="float:left;">Edit Profile</button>
                </div>
                <div class="col-lg-2 offset-lg-3 col-12 Non_Available_date form-group">
                    <b>Report From:</b><input type="date" class="form-control"  id="start" name="start">
                </div>
                <div class="col-lg-2 col-12 Non_Available_date" >
                    <b> To:</b><input type="date" class="form-control"  id="end" name="end">
                </div>
                <div class="col-lg-1 Non_Available_date" style="margin-top:20px;">
                    <button type="submit" class="btn btn-primary form-control">Submit</button>
                </div>
                <div class="col-lg-2" style="margin-top:20px;">
                    <button type="button" class="btn btn-success " onclick="location.href='{% url 'add_news' id=hospitalid %}'">Add News/Events</button>

                </div>
                </div>
                </form>
    </div>
    <div class="row" style="margin-top:30px;">
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card da">
        <div class="card-header">
            Appointments This Month

        </div>
        <div class="card-body">
            <h1>{{ appointments_this_month }}
            </h1>
        </div>
    </div>
</div>
    <div class="col-lg-3 col-md-3 col-sm-3 ">
        <div class="card da">
        <div class="card-header">
    Appointments Today
  </div>
        <div class="card-body">
            <h1>{{ appointments_today }}</h1>
        </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card da">
        <div class="card-header">
    Online Consultations
  </div>
        <div class="card-body">
            <h1>{{ Online_consultations_today }}</h1>
        </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="card da">
        <div class="card-header">
            Earning this Month
        </div>
        <div class="card-body">
            <h1> &#8377;{{ earning_this_month }}</h1>

    </div>
        </div>
</div>
</div>
<div class="row" style="margin-top:50px;">
<div class="col-lg-6" style="margin-top:10px;">
    <div class="card cha">
        <canvas id="myChart" width="100px" height="100px"></canvas></div>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:{{ list_of_speciality|safe }},
        datasets: [{
            label: 'No Of Appointments This Month',
            data: {{ list_of_speciality_appointments }},
            borderWidth: 1
        }]
    },
    options: {
    maintainAspectRatio: true,
    responsive: true,
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 10,
                    suggestedMax: 50,
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
</div>
<div class="col-lg-6 " style="margin-top:10px;" >
    <div class="card cha">
    <div class="card-header">Doctor Monitoring</div>
    <div class="table-responsive">
    <table class="table sticky">
        <thead>
        <tr>
            <td>Doctor Name</td>
            <td>Specialisation</td>
            <td>No Of Appointments</td>
            <td>Available Today</td>
            <td>Earning(in INR)</td>
        </tr>
        </thead>
        {% for i,j in doctors_data.items %}
        <tbody>
        <td><a href='/dashboard/{{ i.doctorid }}'>{{ i.doctorid.name }}</a></td>
        <td>{{ i.specialization }}</td>
        {% for k in j %}
        <td>{{ k }}</td>
        {% endfor %}
        </tbody>
        {% endfor %}
    </table>
</div>
    </div>
    </div>
</div>
<div class="card" style="margin-top:20px;">
    <div id="appointment" style="display:block;">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
            <div class="card-header">List Of Appointments</div>
            <div style="margin-top:10px;" class="row">
                {% if User_Details.doctorid %}
                <div class="col-lg-2 offset-lg-10">
                     <input type="checkbox" id="available" value="available" checked>
                    <b>  Available</b>
                {% endif %}
                </div>

            </div>
            <div style="margin-top:20px;">
            <form action="{% url 'admin_search_appointments' %}" method="get">
                {% csrf_token %}
                <div class="row">

                    <div class="col-lg-1 col-sm-1 offset-lg-5 col-4">
                        <label for="filters" style="float:left;"><b>Filter By:</b></label></div>

                    <div class="col-lg-2 col-sm-1 form-group col-8">

                <select id="filters" name="filter" class="form-control" style="float:right;"required>

                    <option value="Date" class="Date" selected>Date</option>
                    <option value="Doctor_Name" class="Doctor_Name">Doctor Name</option>
                   <option value="Patient_Name" class="Patient_Name">Patient Name</option>
                    <option value="speciality" class="speciality">Speciality</option>

                </select>
                </div>
                <div class="col-lg-2 col-sm-2 col-12" id="search_value">
                <input type="date" id="Date" class="form-control" required name="search_values">
                                  </div>
                  <div  style="display:none" class="col-lg-2 col-sm-2 col-12" id="search_values1">
                     <select id="filters1" name="search_values1" class="form-control" style="float:right;"required>
                         {% for i in speciality %}
                         <option value="{{ i }}">{{ i }}</option>
                         {% endfor %}
                </select>
                 </div>

                <div class="col-lg-2 col-sm-2 col-12">
                    <button type="submit"  value="submit" class="form-control btn btn-success">Apply</button>

                </div>
                    </div>
                 </form>
        </div>
                <div class="card-body">
                <div class="table-responsive" style="overflow-y:scroll; height:300px;">
        <table class="table sticky" style="margin-top:30px">
            {% if list_of_Appointments %}
            <thead style="background-color:lightgray">
              <tr>
                <th>Appointment Id</th>
                <th>Patient Name</th>
                  {% if User_Details.doctorid %}
                <th>Patient Email Id</th>
                  {% else %}
                  {% if User_Details.tlabid %}
                  <th>Patient Email Id</th>
                  <th>Test Name</th>
                  {% else %}
                <th>Doctor Email Id</th>
                  {% endif %}
                  {% endif %}
                <th>Appointment Date</th>
                <th>Appointment Time</th>
                <th>Mode Of Meeting</th>
                <th>Meeting url</th>

              </tr>
           <tbody>

        {% for i in list_of_Appointments %}
          <tr>
              <td>{{ i.appointmentid }}</td>
            <td>{{ i.patientname }}</td>
            {% if User_Details.doctorid %}
            <td>{{ i.patientemail }}</td>
              {% else %}
              {% if User_Details.tlabid %}
              <td>{{ i.patientemail }}</td>
              <td>{{ i.Speciality }}</td>
              {% else %}
              <td>{{ i.doctoremail }}</td>
              {% endif %}
              {% endif %}
              <td>{{ i.appointment_date }}</td>
              <td>{{ i.appointment_time }}</td>
            <td>{{ i.mode_of_meeting }}</td>
            <td>{{ i.meeting_url }}</td>
          </tr>
            {% endfor %}

        </tbody>
            {% else %}
            <center>No Appointment Available</center>
            {% endif %}
        </table>
                </div>
                </div>
            </div>
</div>
    </div>
    </div>
</div>
</body>
</html>