<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <style>
         #search
         {
            float:right;
            margin-top:0px;
            }
           .image1
           {
            background-image:url('{% static 'image2.jpeg' %}');
            height:300px;
            }
     </style>
</head>
<body class="image1">
<div class="container">
    <div class="card" style="margin-top:100px;">
        <div class="card-header text-center" ><i>List Of Appointments</i></div>
        <div class="card-body">
            <input type="text" style="float:right;" placeholder="Search">
                    <span class="glyphicon glyphicon-search" id="search"></span>  
            <div class="row">
                <div class="col-md-12">
        <table class="table table-striped" style="margin-top:50px;">
            <thead style="background-color:lightgray;">
              <tr>
                <th>Username</th>
                <th>Appointment Id</th>
                
                <th>Email Id</th>
                <th>Appointment Time</th>
                <th>Mode</th>
                <th>Meeting url</th>
              </tr>
            </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
              <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>maryexample.com</td>
          </tr>
        </tbody>
  </table>
    </div>
</div>
        </div>

    </div>
</div>
</div>
<!--<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarId">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarId">
    <ul class="navbar-nav text-center ml-auto">
        <li class="nav-item">
            <a href="#" class="nav-link"></a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Service</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Profile</a>
        </li>
    </ul>
</div>

</nav>
<div class="row jumbotron">
  <div class="col-sm-6"></div>
    hi
  <div class="col-sm-6"></div>
    welcome
</div>
<div class="row">
    <div class="col-sm-12">
       <input type="text" style="float:right;" placeholder="Search">
      <span class="glyphicon glyphicon-search" style="float:right;position:absolute;margin-top:0px;"></span>

    </div>
    </div>
</nav>
-->
</body>
</html>