{% load static %}
<section id="features_section">
    <div class="features_content">
    <div class="row">
      <div class="col col-12 col-md-6 col-lg-5">
        <div class="features_details" id="features_about">
          <div class="card" style="border: none;">
            <div class="card-body">
              <h5 class="card-title">About Neerog</h5>
              <p class="card-text">Neerog is an online healthcare service platform which allows users to search, explore and contact with the doctors, hospitals and testing labs around the globe registered with the platform. It is a free-to-use and open-for-all platform and you don't have to spend a single penny for registering yourself or your organization on this platform.</p>
              <p class="card-text"> You can book appointments online with the doctor of your choice, hassel-free from the comfort of your home without waiting in long-queues to get an appointment. We also provide an option for remote consultation during appointment booking, so one can consult a doctor remotely via video-conferencing. Moreover, you can apply for medical tests in any testing lab of your choice in no time, with just a few clicks.</p>
              <p class="card-text"> Neerog has been developed considering the pandemic situation like COVID-19 where there is a need for such a platform to reduce pressure on hospitals and clinics and providing medical services remotely wherever and whenever possible. In Long Term, this project aims to create a large virtual marketplace for users and healthcare service providers which will benefit both of them and give more power to a customer/patient.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 col-lg-7">
        <div class="features_details row" id="features_list">

          <div class="col col-12">
            <div class="card smallcard">
              <div class="card-body">
                <h5 class="card-title"><span><span><i style="font-size: 30px;" class="fas fa-hospital"></i><i class="fas fa-user"></i></span> For All Users and Organizations</h5>
                <p class="card-text">First, click on <b>Register</b> and then enter your details and password to create an account. Then, you'll recieve a verification link from <strong>neerog.web@gmail.com</strong> on your registered email, follow that link to verify your email. Now, you can <b>Login</b> using your Email and Password. After that you have to enter few more details to complete your account registeration.</p>
                <!-- <a href="#" class="card-link">Our Services</a>
                <a href="#" class="card-link">Search Services</a>
                <a href="#" class="card-link">Login</a>
                <a href="#" class="card-link">Register</a>
                 -->
              </div>
            </div>
          </div>

          <div class="col col-12 col-lg-6">
            <div class="card smallcard">
              <div class="card-body">
                <h5 class="card-title"><span><i class="fas fa-users"></i></span> For General Users</h5>
                <p class="card-text">Head over to <strong>Book Appointment</strong> in Our Services Menu to select doctor, hospital or testing lab of your choice. You can also search for doctors and other services using <b>Search Bar</b> on the top-right corner.</p>
                <a href="{% url 'Dashboard' %}" class="card-link">Book Appointment</a>
                <a href="#" class="card-link">Search Services</a>
              </div>
            </div>
          </div>
          
          <div class="col col-12 col-lg-6">
            <div class="card smallcard">
              <div class="card-body">
                <h5 class="card-title"><span><i class="fas fa-user-md"></i><i class="fas fa-user-nurse"></i></span> For Doctors</h5>
                <p class="card-text">Your <strong>Dashboard</strong> will show all the appointments you've recieved yet. You can filter and search through them and send prescriptions to patients. You can see your Public <strong>Profile</strong> and edit it using <b>Edit Profile</b> button.</p>
                <a href="{% url 'dashboard' %}" class="card-link">Dashboard</a>
                <a href="#" class="card-link">Profile</a>
                <a href="{% url 'edit_profile' %}" class="card-link">Edit Profile</a>
              </div>
            </div>
          </div>
  
          <div class="col col-12 col-lg-6">
            <div class="card smallcard">
              <div class="card-body">
                <h5 class="card-title"><span><i style="font-size: 32px;" class="fas fa-hospital"></i> </span>For Hospitals</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Card link</a>
              </div>
            </div>
          </div>
  
          <div class="col col-12 col-lg-6">
            <div class="card smallcard">
              <div class="card-body">
                <h5 class="card-title"><span><i style="font-size: 30px;" class="fas fa-flask"></i></span> For Testing Labs</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Card link</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    </div>
</section>