{% load static %}
<footer>
    <div class="footer-container">
      <div class="left-col">
        <img src="{% static 'main_app/images/NeerogLogo2.png' %}" alt="" class="logo">
        <div class="social-media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fas fa-comment"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p class="rights-text">© 2020 Created By <a href="https://github.com/Lakshay-Dhingra">Lakshay Dhingra</a> and <a href="https://github.com/abhi126">Abhishek Singla</a>. All Rights Reserved.</p>
      </div>
  
      <div class="right-col">
        <h1>Our Newsletter</h1>
        <div class="border"></div>
        <p>Enter Your Email to get our news and updates.</p>
        <form action="" class="newsletter-form">
          <input type="text" class="txtb" placeholder="Your Email">
          <input type="submit" class="btn newsletter_btn" value="Submit">
        </form>
      </div>
    </div>
</footer>