<!-- Here User can Search Hospital,Doctor,Testing Lab Based on name,Test Name,Location-->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Service Provider Selection</title>

    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'main_app/header.html' %}
   {% include 'main_app/common_css.html' %}
    <link rel="stylesheet" href="{% static 'main_app/css/Hospital_Selection.css' %}">

    <script>
        $(document).ready(function()
        {
           var dt=new Date();
           var month=dt.getMonth()+1;
           var day=dt.getDate()+1;
           var year=dt.getFullYear();
           if(month < 10)
               month='0'+month.toString();
           if(day < 10)
               day='0'+day.toString();

           var maxDate=year+'-'+month+'-'+day;
           $("#Appointment_Date").attr('min',maxDate);
        });
    </script>
    <script>
        $(document).ready(function(){
        {% if country %}
           $("#countries").val("{{ country }}");
            $("#states").val("{{ state }}");
            $("#cities").val("{{ city }}");
        {% endif %}
        $("#countries").on("change",function(){
        var country=$("#countries").val();
        if(country=="Select")
             alert("Select Appropriate Country");
        $.ajax(
        {
             type:"get",
             url:"/Hospital_Selection/states/",
             data:
             {
              country:$("#countries").val()
             },
             success:function(data)
             {
             var states=JSON.stringify(data);
             var p=states.split(",");

             $("#states").empty();
             $("#states").append(`<option value="Select">
                                       Select State
                                  </option>`);

             for(var i=0;i<p.length;i++)
             {
             var k=p[i].replace("\[","")
             var n=k.replace("\]","")
             var optionText=n.slice(1,n.length-1)
                $("#states").append(`<option value="${optionText}">
                                       ${optionText}
                                  </option>`);
             }
             }
        });
        });
        $("#states").on("change",function(){
        var state=$("#states").val();
         if(state=="Select")
             alert("Select Appropriate State");
        $.ajax(
        {
             type:"get",
             url:"/Hospital_Selection/city/",
             data:
             {
              city:$("#states").val()
             },
             success:function(data)
             {
             var states=JSON.stringify(data);
             var p=states.split(",");

             $("#cities").empty();
             $("#cities").append(`<option value="Select">
                                       Select City
                                  </option>`);

             for(var i=0;i<p.length;i++)
             {
             var k=p[i].replace("\[","")
             var n=k.replace("\]","")
             var optionText=n.slice(1,n.length-1)

                $("#cities").append(`<option value="${optionText}">
                                       ${optionText}
                                  </option>`);
             }
             }
        });
        });
        $("#form1").on("submit",function()
        {
         var state=$("#states").val();
         var city=$("#cities").val();
         var country=$("#countries").val();
         if(state=="Select" || city=="Select" || country=="Select")
             alert("Select Appropriate values from dropdowns");
        });
        });
    </script>
    <script>
        $(document).ready(function(){
        $(".mode").on("click",function(){
        var id1=$(this).attr('id');
        var id2=$('.doctor').attr('id');
        var p=id1.split(",")

        $(".doctor1").val(p[1]);
        $(".mode1").val(p[0]);
        });
        });
        </script>
    <script>
        function validate()
        {
        var date=document.getElementsById("Appointment_Date").value;
        var d=new Date();
        var d1=new Date(date);
        if(!Date.parse(date)){
            alert('Please Select Appropriate Date');
            return false;
        }
        }
    </script>
    <script>
    $(document).ready(function()
        {
         var filter=$("#filters").val();
         var filter_value=$(".filter_value1").val();
        if(filter_value!=""){
            var filter=$(".filter_value1").val();
            var str1="#"+filter_value
            $(str1).attr("selected","selected");
            if(filter=="Location")
            {

            $('#filter_type').val(filter);
            $('#form2').css({"display":"none"});
            $('#form3').css({"display":"none"});
            $('#form8').css({"display":"none"});
                 $('#form1').css({"display":"block"});
                  $("test_name").css({"display":"none"});
            }
            else if(filter=="Test_Name")
            {
                    var p=$(".searches").val();
                    var str1='#'+p
                    $(str1).attr("selected","selected");
               $('#filter_type2').val(filter);
               $('#form1').css({"display":"none"});
               $("#form8").css({"display":"none"});
               $('#form2').css({"display":"none"});
                $("#form3").css({"display":"block"});
            }
            else if(filter=="speciality")
            {
              $('#filter_type3').val(filter);
               $('#form1').css({"display":"none"});
               $('#form2').css({"display":"none"});
                $("#form3").css({"display":"none"});
                $("#form8").css({"display":"block"});

            }
            else if(filter =="Hospital_Name" || filter =="Doctor_Name" || filter =="Clinic_Name" || filter =="Testing_Lab" ){
             $("#search_value").val("{{ search_value }}")

             $('#filter_type1').val(filter);
             $('#form1').css({"display":"none"});
             $('#form3').css({"display":"none"});
             $('#form8').css({"display":"none"});
            $('#form2').css({"display":"block"});
             $("test_name").css({"display":"none"});
                                  }
         else
            {

             $('#filter_type').val("Location");
            $('#form2').css({"display":"none"});
                 $('#form1').css({"display":"block"});
            }
            }
       $("#filters").on("change",function(){
        var filter=$("#filters").val();
        if(filter=="")
             alert("Select Appropriate Filter");
        else
        {
            if(filter=="Location")
            {
            $('#filter_type').val(filter);
            $('#form2').css({"display":"none"});
            $('#form3').css({"display":"none"});
            $('#form8').css({"display":"none"});

                 $('#form1').css({"display":"block"});
                  $("test_name").css({"display":"none"});
            }
            else if(filter=="Test_Name")
            {
               $('#filter_type2').val(filter);
               $('#form1').css({"display":"none"});
               $('#form2').css({"display":"none"});
               $("#form8").css({"display":"none"});
                            $("#form3").css({"display":"block"});
            }
            else if(filter=="speciality")
            {

              $('#filter_type3').val(filter);
               $('#form1').css({"display":"none"});
               $('#form2').css({"display":"none"});

                $("#form3").css({"display":"none"});

                $("#form8").css({"display":"block"});

            }
            else{
             $('#filter_type1').val(filter);
              var string1="Enter the "+filter;
             $('#form1').css({"display":"none"});
             $('#form3').css({"display":"none"});
             $('#form8').css({"display":"none"});
            $('#form2').css({"display":"block"});
             $("test_name").css({"display":"none"});
             $("#search_value").val("");
             $("#search_value").attr("placeholder",string1);
                                  }
                                  }
                                  });
                                  });
    </script>
    <script>
    $(document).ready(function()
        {
        var filter_value=$(".filter_value").val();
        if(filter_value!=""){
            var str1="#"+filter_value
            $(str1).attr("selected","selected");}
       $("#sort").on("change",function(){
        var filter=$("#sort").val();
         $("#form6").submit();
                                  });
                                  });
    </script>
</head>
{% include 'main_app/navbar.html' %}
<body style="background-image:url('https://apollowebsiteprod.blob.core.windows.net/apollohospitals/assets/images/bg-equipment.png');width:100%;margin-top:100px;">
<div class="container-fluid" >
<div class="row">
    <div class="col-lg-2 col-4 col-md-2">
        <b style="font-size:18px;float:right;">Search By:</b>
    </div>
    <div class="col-lg-4 col-8 col-md-4">
        <span style="float:left;">
                {% if filter %}
                <input type="text" hidden class="filter_value1" class="form-control" value="{{ filter }}">
                {% else %}
                 <input type="text" hidden class="filter_value" value="">
                {% endif %}
                <select id="filters"  class="form-control"name="filter"  required>
                    <option value="Location" id="Location"selected>Location</option>
                    <option value="Hospital_Name" id="Hospital_Name">Hospital_Name</option>
                    <option value="Doctor_Name" id="Doctor_Name">Doctor Name</option>
                    <option value="Clinic_Name" id="Clinic_Name">Clinic Name</option>
                    <option value="speciality" id="speciality">Speciality</option>
                    <option value="Testing_Lab" id="Testing_Lab">Testing Lab Name</option>
                    <option value="Test_Name" id="Test_Name">Test Name</option>
                </select>
    </span>
        </div>
    <div class="col-lg-3 col-4 col-md-3">
        <b style="font-size:18px;float:right;">Filter By:</b>
    </div>
    <div class="col-lg-2 col-md-3 col-8">
    <span style="float:left;">

            <form action="{% url 'list_of_hospital' %}" id="form6"  style="display:block;" method="get">
              {% csrf_token %}
                {% if filter %}
                <input type="text" hidden class="filter_value" class="form-control" value="{{ filter }}">
                {% else %}
                 <input type="text" hidden class="filter_value" value="">
                {% endif %}
                <select id="sort" class="form-control" name="filter" required >
                    <option value="All" id="All">All</option>
                    <option value="Hospitals" id="Hospitals">Hospitals</option>
                    <option value="Clinics" id="Clinics">Clinics</option>
                    <option value="Testing_Labs" id="Testing_Labs">Testing Labs</option>
                </select>
            </form>
    </span>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-lg-3 offset-lg-1 col-8 ">
        <i class="fa fa-map-marker" style="color:green;font-size:20px;"aria-hidden="true"></i><b>   {{ location }}</b>
    </span>
    </div>
</div>
   <div style="margin-top:30px;">
        <form action="{% url 'list_of_hospital' %}" id="form1" style="display:block;" method="get">
            {% csrf_token %}
            {% if list_of_countries|length > 0 %}
                <span>
             <input type="text" hidden id="filter_type" name="filter"></span>
            <div class="row">
            <div class="col-lg-2 col-md-3 offset-lg-3 offset-md-1 col-6">
                <select id="countries" class="form-control" name="country">
                 <option value="Select">Select Country</option>
                {% for i in list_of_countries %}
                        <option  id={{ i }} value="{{ i }}">{{ i }}</option>
                {% endfor %}
                </select></div>
            {% endif %}
                <div class="col-lg-2 col-md-3 col-6">
                <select id="states" class="form-control" name="state">
                        <option value="Select">Select State</option>
                        {% for i in list_of_states %}
                        <option  id={{ i }} value="{{ i }}">{{ i }}</option>
                {% endfor %}
                </select></div>
                <div class="col-lg-2 col-md-3 col-6">
                <select id="cities" class="form-control" name="city">
                    <option value="Select">Select City</option>
                    {% for i in list_of_cities %}
                        <option  id={{ i }} value="{{ i }}">{{ i }}</option>
                {% endfor %}
                </select></div>
                <div class="col-lg-2 col-md-3 col-6">
                <button type="submit" class="btn btn-success col-12" id="submit_form"> Search</button></div>
                </div>
            </form>

        <form  action="{% url 'list_of_hospital' %}" id="form2" style="display:none" method="get">
                {% csrf_token %}
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
            <input type="text" hidden id="filter_type1" name="filter">
                 <div class="input-group">
                        <input type="search" id="search_value" name="search_values"placeholder="" class="form-control" />
                 <button type="submit" class="btn btn-primary search_button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            </div>
            </div>

        </form>
       <form  action="{% url 'list_of_hospital' %}" id="form3" style="display:none" method="get">
                {% csrf_token %}
                <div class="row">
                <div class="col-lg-6 offset-lg-3">
            <input type="text" hidden id="filter_type2" name="filter">
                 <div class="input-group">
                     {% if list_of_tests %}
                <select id="test_names"  class="form-control" name="Test_Name" >
                    <option value="select">Select Test Name</option>
                {% for i in list_of_tests %}
                        <option value="{{ i }}" id="{{ i }}">{{ i }}</option>
                {% endfor %}
                </select>
                {% endif %}
                 <button type="submit" class="btn btn-primary search_button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            </div>
            </div>
       </form>
       <input type="text" value="{{ search_value }}" class="searches" hidden>
       <form  action="{% url 'list_of_hospital' %}" id="form8" style="display:none" method="get">
                {% csrf_token %}
                <div class="row">
                <div class="col-lg-6 offset-lg-3">
            <input type="text" hidden id="filter_type3" name="filter">
                 <div class="input-group">
                     {% if list_of_speciality|length > 0 %}
                <select   class="form-control" name="speciality" >
                    <option value="select">Select Speciality</option>
                {% for i in list_of_speciality %}
                        <option value="{{ i }}" >{{ i }}</option>
                {% endfor %}
                </select>
                {% endif %}
                 <button type="submit" class="btn btn-primary search_button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            </div>
            </div>
                 </form>
   </div>
       <div class="container-fluid">
    {% if list_of_hospitals|length > 0 %}
<div class="row" style="margin-top:50px;">
    {% for i in list_of_hospitals %}
    <div class="col-xl-3 col-lg-3 col-md-12" style="margin-top:10px;">
        <div class="card">
            <a href='/Selected/{{ i.hospitalid }}'><image src="{{ i.pic1.url }}" width="100%" height=100px  class="img1" alt="{{ i.hospitalid.name }}"></image></a>
            <table class="table-stripped">
                <tr>
                    <th class="th1">Name:</th>
                    <td class="th1">{{ i.hospitalid.name }}</td>
                </tr>
                <tr>
                    <th class="th1">City:</th>
                    <td class="th1">{{ i.city }}</td>

                </tr>
            </table>
            <button class="btn btn-primary" onclick="location.href='{% url 'Selected' user_id=i.hospitalid  %}'">Apply Now</button>
        </div>
    </div>
    {% endfor %}
        </div>
    {% endif %}
    </div>

<div class="container-fluid">
    {% if list_of_doctors|length > 0 %}
<div class="row" style="margin-top:50px;">
    {% for i,j in list_of_doctors.items %}
    <div class="col-lg-4 col-md-12 col-xl-4" style="margin-top:10px;">
        <div class="card">
            {% if i.clinic_name|length > 0 %}
            <a href='/user/profile/{{ i.doctorid }}'><image src="{{ i.clinic_photo.url }}" width="100%" height=100px class="img1" alt="{{ i.hospitalid.name }}"></image></a>
            {% else %}
            {% if i.profile_pic %}
            <a href='/user/profile/{{ i.doctorid }}'><image src="{{ i.profile_pic.url }}" height=100px width="100%" class="img1" alt="{{ i.hospitalid.name }}"></image></a>
            {% else %}
            <a href='/user/profile/{{ i.doctorid }}'><image src="{% static 'image6.jpeg' %}" width="100%" height=100px class="img1" alt="{{ i.hospitalid.name }}"></image></a>
            {% endif %}
            {% endif %}
            <table class="table-stripped clinics">
                <tr>
                    {% if i.clinic_name|length > 0 %}
                    <th class="th1">Clinic Name:</th>
                    <td class="th1">{{ i.clinic_name }}</td>
                    {% else %}
                    <th class="th1">Hospital Name:</th>
                    <td class="th1">{{ i.hospitalid.hospitalid.name }}</td>
                    {% endif %}
                </tr>
                <input type="text" id="{{ i.doctorid }}" class="doctor" hidden>
                <tr>
                    <th class="th1" >Name:</th>
                    <td class="th1">{{ i.doctorid.name }}</td>
                </tr>
                <tr>
                    <th class="th1">City:</th>
                    <td class="th1">{{ i.city }}</td>
                </tr>
                <tr>
                    <th class="th1">Specialisation:</th>
                    <td class="th1">{{ i.specialization }}</td>
                </tr>
                <tr>
                    <th class="th1">fee:</th>
                    <td class="th1">&#8377;{{ j }}</td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary mode" id="Online,{{ i.doctorid }}"   data-toggle="modal" data-target="#exampleModal"><b class="bu">Book Online Consultation</b></button></td>
                    <td><button class="btn btn-primary mode"  id="Offline,{{ i.doctorid }}"   data-toggle="modal" data-target="#exampleModal"><b class="bu">Book Offline Appointment</b></button></td>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose Date</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="float:right;">&times;</span>
        </button>
      </div>
         <form  action="{% url 'Appointment_Details_Submission1' %}"   onsubmit="return validate()"  method="get">
                        {% csrf_token %}
      <div class="modal-body">
     <input type="text" class="doctor1" hidden value="" name="service_provider_id">
          <!--<input type="text" class="doctor1" hidden value="" name="service_provider_id"-->
          <input type="text" hidden value="" name="mode" class="mode1">
                <input type="date" name="date" class="form-control" id="Appointment_Date">
      </div>
      <div class="modal-footer">
          <button type="button"  class="btn btn-danger model"data-dismiss="modal"><b class="bu">Close</b></button>
          <button type="submit" class="btn btn-primary model"><b class="bu">Book Appointment</b></button>
      </div>
         </form>

    </div>
  </div>
</div>
                        </tr>
            </table>
            </div>
    </div>
    {% endfor %}
        </div>
    {% endif %}
    </div>
<div class="container-fluid">
    {% if list_of_testing_labs|length > 0 %}
<div class="row" style="margin-top:50px;">
    {% for i in list_of_testing_labs %}
    <div class="col-lg-3 col-md-6" style="margin-top:10px;">
        <div class="card">
            <a href='/Selected/{{ i.tlabid }}'><image src="{{ i.lab_photo.url }}" width="100%" height=250px class="img1" alt="{{ i.tlabid.name }}"></image></a>
            <table class="table-stripped">
                <tr>
                    <th class="th1">Testing Lab Name:</th>
                    <td class="th1">{{ i.tlabid.name }}</td>
                </tr>
                <tr>
                    <th class="th1">City:</th>
                    <td class="th1">{{ i.city }}</td>
                </tr>
            </table>
             <button class="btn btn-primary" onclick="location.href='{% url 'Selected' user_id=i.tlabid  %}'">Apply Now</button>

        </div>
    </div>
    {% endfor %}
    </div>
    {% endif %}
</div>
 {% include 'main_app/show_messages.html' %}
    </div>
</body>
</html>














