<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Book Appointment</title>
     {% include "main_app/header.html" %}
     {% include 'main_app/common_css.html' %}
    <style>
     .card
     {
       margin-top:20px;
       height:60px;
     }
    </style>
    <script>
        $(document).ready(function(){
        $("#Appointment_Date").on("change",function(){
        var date=$("#Appointment_Date").val();
        var d=new Date();
        var d1=new Date(date);

         $.ajax(
        {
             type:"get",
             url:"/select_speciality/date/",
             data:
             {
              date:date
             },
             success:function(data)
             {
              
             }
        });
        });
        });
    </script>
    <script>
        function validate()
        {
        var date=document.getElementById("Appointment_Date").value;
        var d=new Date();
        var d1=new Date(date);
        if(!Date.parse(date)){
         alert('Please Select Appropriate Date');
            return false;
        }
        }
    </script>
    <script>
        $(document).ready(function()
        {
           var dt=new Date();
           var month=dt.getMonth()+1;
           var day=dt.getDate()+1;
           var year=dt.getFullYear();
           if(month < 10)
               month='0'+month.toString();
           if(day < 10)
               day='0'+day.toString();

           var maxDate=year+'-'+month+'-'+day;
           $("#Appointment_Date").attr('min',maxDate);
        });
    </script>
</head>
<body class="container-fluid">
{% if Hospital_Details %}
<div class="row">
        <div class="col-lg-1">
       <image src="{{ Hospital_Details.hospital_logo.url }}" style="width:100px;height:40px;"></image></div>
         <div class="col-lg-5">
             <h3>{{ Hospital_Details.hospitalid.name }}</h3></div>
    </div>
    {% elif Testing_Lab_Details %}
    <div class="row">
        <div class="col-lg-1">
       <image src="{{ Testing_Lab_Details.tlab_logo.url }}" style="width:100px;height:40px;"></image></div>
         <div class="col-lg-5">
             <h3>{{ Testing_Lab_Details.tlabid.name }}</h3></div>
    </div>
    {% endif %}
<div class="container-fluid" style="margin-top:20px;">
    <ol class="breadcrumb">
    {% if Testing_Lab_Details %}
    <li class="breadcrumb-item"><a href="{% url 'Selected' user_id=Testing_Lab_Details.tlabid %}">Home</a></li>
    {% else %}
    <li class="breadcrumb-item"><a href="{% url 'Selected' user_id=Hospital_Details.hospitalid %}">Home</a></li>
    {% endif %}
        <li class="breadcrumb-item active" aria-current="page">Speciality</li>
    </ol>
 </div>
<div class="jumbotron" style="margin-top:50px;">
         <div class="form-group">
             <label for="Appointment_Date" style="color:#3291a8;"><h3>Date Of Appointment:</h3></label>
                <input type="date" required class="form-control" id="Appointment_Date" name="date">
         </div>
    {% if Hospital_Details %}
         <h3 style="color:#3291a8;"> Select Speciality </h3>
         <div class="row">
        {% for i in specialities %}
             <div class="col-lg-4 col-md-4 col-sm-4">
                     <form action='{% url "book_appointment1" speciality=i %}' onsubmit="return validate()">
                         <div class="card">
                     <button type="submit" class="btn" style="margin-top:10px;" >{{ i }}<span style="float:right;"> ></span></a></button>
                        </div>
                     </form>
             </div>
        {% endfor %}
         </div>
    {% elif Testing_Lab_Details %}
        <h3 style="color:#3291a8;"> Select Test </h3>
    <div class="row">
        {% for i in specialities %}
             <div class="col-lg-4 col-md-4 col-sm-4">
                     <form action="{% url 'Appointment_Details_Submission1' %}" onsubmit="return validate()" method="get" >
                         {% csrf_token %}
                         <div class="card">
                      <input type="text" name="speciality" value="{{ i }}" hidden >
                     <button type="submit" class="btn" style="margin-top:10px;" >{{ i }}<span style="float:right;"> ></span></a></button>
                        </div>
                     </form>
             </div>
        {% endfor %}
        </div>
    {% endif %}

{% include 'main_app/show_messages.html' %}
</div>
</body>
</html>