<nav id="nav_default">
  <div class="menu-icon">
  <span class="fas fa-bars"></span></div>
  <div class="logo">
  <a href="{% url 'index' %}">Neerog</a></div>
  <div class="nav-items">
  {% if user.is_authenticated %}
  <li><a href="{% url 'dashboard' id=user.get_username %}">Home</a></li>
  {% else %}
  <li><a href="{% url 'index' %}">Home</a></li>
  {% endif %}
  <li><a href="{% url 'index' %}#features_section">About</a></li>

  <li>
    <div class="dropdown show">
      <a class="dropdown-toggle" href="{% url 'index' %}#features_section" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Our Services
      </a>
      <div style="width: 250px; margin-left: -55px;" class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="services_menu">
        <a class="dropdown-item" href="{% url 'index' %}#features_section">Know More</a>
        <a class="dropdown-item" href="{% url 'Dashboard' %}">Book Appointment</a>
        <a class="dropdown-item" href="#">Search Services...</a>
      </div>
    </div>
  </li>
  
  {% if user.is_authenticated %}
  <li><a href="{% url 'profile' user.get_username %}">Profile</a></li>
  {% comment %}<li><a href="{% url 'signup_redirect' %}">Verify</a></li>{% endcomment %}
  <li><a id="logout_button" href="{% url 'logout' %}">Logout</a></li>
  {% else %}
  <li><a id="login_button" href="{% url 'signin' %}">Login</a></li>
  <li><a id="register_button" href="{% url 'signup' %}">Register</a></li>
  {% endif %}
  </div>
  <div class="search-icon">
  <span class="fas fa-search"></span></div>
  <div class="cancel-icon">
  <span class="fas fa-times"></span></div>
  <form action="#">
    <input type="search" class="search-data" placeholder="Search Here..." required>
    <button type="submit" class="fas fa-search"></button>
  </form>
</nav>

<script>
  const menuBtn = document.querySelector(".menu-icon span");
  const searchBtn = document.querySelector(".search-icon");
  const cancelBtn = document.querySelector(".cancel-icon");
  const items = document.querySelector(".nav-items");
  const form = document.querySelector("form");
  const navbar = document.querySelector("nav")
  menuBtn.onclick = ()=>{
    items.classList.add("active");
    menuBtn.classList.add("hide");
    searchBtn.classList.add("hide");
    cancelBtn.classList.add("show");
    navbar.style.width = "320px";
    navbar.style.left = "0px";
  }
  cancelBtn.onclick = ()=>{
    items.classList.remove("active");
    menuBtn.classList.remove("hide");
    searchBtn.classList.remove("hide");
    cancelBtn.classList.remove("show");
    form.classList.remove("active");
    cancelBtn.style.color = "#ff3d00";
    navbar.style.width = "100%";
  }
  searchBtn.onclick = ()=>{
    form.classList.add("active");
    searchBtn.classList.add("hide");
    cancelBtn.classList.add("show");
  }
</script>

<script>
  var myNav = document.getElementById('nav_default');
  var mydp = document.getElementById('services_menu');
  var navlogo = document.querySelector('nav .logo a');
  var navlinks = document.querySelectorAll('nav .nav-items li a');
  var dplinks = document.querySelectorAll('.dropdown-menu a');

  window.onscroll = function()
  { 
      if(screen.width > 1140)
      {
      
          if (document.body.scrollTop >= document.documentElement.clientHeight || document.documentElement.scrollTop >= document.documentElement.clientHeight )
          {
              myNav.classList.add("nav_bg");
              mydp.classList.add("dropdown_bg");
              navlogo.classList.add("nav_txt");
              for(navlink of navlinks)
              {
                navlink.classList.add("nav_txt");
              }
              for(dplink of dplinks)
              {
                dplink.classList.add("dropdown-item_bg");
              }
          } 
          else
          {
              myNav.classList.remove("nav_bg");
              mydp.classList.remove("dropdown_bg");
              navlogo.classList.remove("nav_txt");
              for(navlink of navlinks)
              {
                navlink.classList.remove("nav_txt");
              }
              for(dplink of dplinks)
              {
                dplink.classList.remove("dropdown-item_bg");
              }
          }
      }
  };

</script>