<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
     {% include "main_app/header.html" %}
     <script src="{% static 'Hospital_Selection.js' %}"></script>
    <title>Add News/Events</title>
</head>
<body>
<div class="container-fluid">
    <h3 style="color:#3291a8;">Add Hospital News/Events</h3>
    <h4 style="text-align:center;">Information</h4>
    <form action="{% url 'submit_news' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container jumbotron">
              <input type="text" class="form-control" value="{{ id }} "name="id" hidden >
        <div class="form-group">
            <label for="Title">Title Of Event:</label>
            <input type="text" class="form-control" name="title" id="Title" required>
        </div>
        <div class="form-group">
            <label for="About">About Event</label>
            <textarea type="email" class="form-control" id="About" name="About" required></textarea>
        </div>
        Add Image Of Event:
        <div class="custom-file">
            <input type="file"  id="File01" name="file1" required>
            <!--<label class="custom-file-label" for="File01">Choose file</label>-->
        </div><br><br>
            <center>
              <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-danger">Clear</button>
            </center>
        </div>
    </form>
</div>
</body>
</html>