<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Profile</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
    $(document).ready(function()
        {
       $("#filters").on("change",function(){
        var filter=$("#filters").val();
        if(filter=="Select")
             alert("Select Appropriate Filter");
        else
        {
            if(filter=="Date"){
            $("#search_value").empty();
            $("#search_value").append(`<input type="date" id="Date" class="form-control" required name="search_values">
                                  </input>`);}
            else{
             $("#search_value").empty();
            $("#search_value").append(`<input type="text" class="form-control" required name="search_values">
                                  </input>`);}
                                  }
                                  });
                                  });
    </script>
    <script>
        $(document).ready(function()
        {
        $('.Appointment').css({"background-color":"lightblue","border":"none"});
          $('.profile').click(function()
          {
             $('#appointment').css({"display":"none"});
             $('.Appointment').css({"background-color":"white","border":"none"})
             $('#profile').css({"display":"block"});
             $('.profile').css({"background-color":"lightblue","border":"none"})
          });
          $('.Appointment').click(function()
          {
             $('#profile').css({"display":"none"});
             $('.profile').css({"background-color":"white","border":"none"})
             $('#appointment').css({"display":"block"});
             $('.Appointment').css({"background-color":"lightblue","border":"none"})

          });
        })
    </script>
    <style>
    @media only screen and (max-width: 360px) {
        #profile_pic
        {
            height:200px;
            width:300px;
        }
        .card-body{
               overflow:scroll;
        }
    }
    #profile_pic
        {
            height:300px;
            width:max-width;
        }
    #search
        {
          float:right;

        }

    </style>
</head>
<body>
<div>
    <image src="{% static 'image6.jpeg' %}" height="300px" width="100%"></image>
</div>
<div style="margin-top:-150px;postion:absolute;">
<button type="button" class="Appointment" style="border:none;">Appointments</button>
<button type="button" class="profile" style="border:none;">Profile</button>
</div>
<div id="appointment" style="display:block;">
    <div class="row">
        <div class="col-md-12">
    <div class="card" style="margin-top:50px;">
        <div class="card-header text-center" ><i>List Of Appointments</i>
        
        </div>
        <div style="margin-top:20px;">
            <form action="{% url 'search_appointments' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 form-group"></div>
                    <div class="col-lg-1 col-sm-1">
                        <label for="filters" style="float:right;">Filter By:</label></div>

                    <div class="col-lg-1 col-sm-1 form-group">

                <select id="filters" name="filter" class="form-control" style="float:right;"required>

                    <option value="Date" checked>Date</option>
                    {% if User_Details.doctorid %}
                    <option value="Patient Name">Patient Name</option>
                    {% else %}
                    <option value="Doctor Name">Doctor Name</option>
                    {% endif %}

                </select>
                </div>
                <div class="col-lg-2 col-sm-2" id="search_value">
                <input type="date" id="Date" class="form-control" required name="search_values">
                                  </div>

                <div class="col-lg-2 col-sm-2">
                    <button type="submit"  value="submit" class="form-control btn btn-success">Submit</button>

                </div>
                    </div>
                 </form>
        </div>
        <div class="card-body">
        <table class="table table-striped" style="margin-top:30px">
            {% if list_of_Appointments %}
            <thead style="background-color:lightgray">
              <tr>
                <th>Appointment Id</th>
                <th>Patient Name</th>
                  {% if User_Details.doctorid %}
                <th>Patient Email Id</th>
                  {% else %}
                <th>Doctor Email Id</th>
                  {% endif %}
                <th>Appointment Date</th>
                <th>Appointment Time</th>
                <th>Mode Of Meeting</th>
                <th>Meeting url</th>
                  <th>Prescription</th>
              </tr>
           <tbody>
        {% for i,j in list_of_Appointments.items %}
          <tr>
              <td><a href="{% url 'Appointment_Details' appointment_id=i.appointmentid %}">{{ i.appointmentid }}</a></td>
            <td>{{ i.patientname }}</td>
            {% if User_Details.doctorid %}
            <td>{{ i.patientemail }}</td>
              {% else %}
            <td>{{ i.doctoremail }}</td>
              {% endif %}
              <td>{{ i.appointment_date }}</td>
              <td>{{ i.appointment_time }}</td>
            <td>{{ i.mode_of_meeting }}</td>
            <td>{{ i.meeting_url }}</td>
            <td>
                {% if User_Details.doctorid %}
                {% ifequal j "Upload Prescription" %}
                <form action="{% url 'prescription' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="id" hidden value="{{ i.appointmentid }}">
                    <input type="email" name="Email" hidden value="{{ i.patientemail }}">
                     <button type="submit" class="btn btn-success"> Upload Prescription</button>
                   </form>
                {% else %}
                <button class="btn btn-success"><a href='{{ j.Prescription.url }}' style="color:white;" download> Download Prescription</a></button>
               {% endifequal %}
                {% else %}
                {% ifequal j "Upload Prescription" %}
                <button  class="btn btn-success"> No Prescription Uploaded</button>
                {% else %}
                <button class="btn btn-success"><a href='{{ j.Prescription.url }}' style="color:white;" download> Download Prescription</a></button>
               {% endifequal %}
                {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
            {% else %}
            <center>No Appointments Availaible</center>
            {% endif %}
  </table>
    </div>
</div>
        </div>

    </div>
</div>
<div id="profile" style="display:none">
<div class="card" style="margin-top:50px;">
        <div class="card-header text-center" ><i>User Profile</i>
        </div>
    <div style="margin-top:-70px,float:left,position:absolute;">
        <button type="button" class="btn btn-success"onclick="window.print()"><i class="fa fa-edit" style="font-size:24px,float:left;"></i></button>
        <button type="button" class="btn btn-success"onclick="window.print()"><i class="fa fa-print" style="font-size:24px,float:left;"></i></button>
    </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ User_Details.profile_pic.url }}" id="profile_pic">
                </div>
        <div class="col-md-6">
        <table class="table table-striped" style="margin-top:50px;">
            {% if User_Details.doctorid %}
              <tr>
                <th>Username</th>
                  <td>{{ User_Details.doctorid.name }} </td></tr>
                <tr><th>Email Id</th>
                    <td>{{ User_Details.doctorid.email }}</td></tr>
                <tr>
                    <th>Specilaisation</th>
                <td>{{ User_Details.specialization }}</td>
              </tr>
            {% else %}
            <tr>
                <th>Username</th>
                  <td>{{ User_Details.patientid.name }} </td></tr>
                <tr><th>Email Id</th>
                    <td>{{ User_Details.patientid.email }}</td></tr>
             {% endif %}
            <tr>
                    <th>Phone</th>
                <td>{{ User_Details.phone }}</td>
              </tr>
            <tr>
                    <th>Address</th>
                <td>{{ User_Details.address }}</td>
              </tr>
  </table>
    </div>
</div>
        </div>

    </div>
</div>
</body>
</div>
</body>
</html>