<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Slot</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    {% include "main_app/header.html" %}
    {% include 'main_app/common_css.html' %}
    <script>
    $(document).ready(function()
        {
       $("#Appointment_Date").on("change",function(){
         $("#form1").submit();
                                  });
                                  });
    </script>
    <script>
        $(document).ready(function()
        {
           var dt=new Date();
           var month=dt.getMonth()+1;
           var day=dt.getDate()+1;
           var year=dt.getFullYear();
           if(month < 10)
               month='0'+month.toString();
           if(day < 10)
               day='0'+day.toString();

           var maxDate=year+'-'+month+'-'+day;
           $("#Appointment_Date").attr('min',maxDate);
        });
    </script>
    <style>
     @media only screen and (max-width: 1024px) {
        *
        {
         font-size:25px!important;
        }
        }
        tr
        {
          margin-left:20px;
          margin-top:5px;
          font-size:18px;
          }
    </style>
</head>
{% include 'main_app/navbar.html' %}
<body  style="margin-top:80px;">
<div class="container-fluid">
    <div>
        {% if User_Profile.tlabid %}
        {% if User_Profile.tlab_logo %}
        <image src="{{ User_Profile.tlab_logo.url }}" style="width:100px;height:40px;"></image>
         <h3>{{ User_Profile.tlabid.name }}</h3>
        {% else %}
        <h3>{{ User_Profile.tlabid.name }}</h3>
        {% endif %}
        {% elif User_Profile.hospitalid %}
        {% if User_Profile.hospitalid.hospital_logo %}
        <image src="{{ User_Profile.hospitalid.hospital_logo.url }}" style="width:100px;height:40px;"></image>
        <h3>{{ User_Profile.hospitalid.name }}</h3>
        {% else %}
        <h3>{{ User_Profile.hospitalid.name }}</h3>
        {% endif %}
        {% else %}
        <image src="{{ User_Profile.clinic_photo.url }}" style="width:100px;height:40px;"></image>
        <h3>{{ User_Profile.clinic_name }}</h3>
        {% endif %}
    </div>
<div class="container-fluid" style="margin-top:10px;">
  <ol class="breadcrumb">
    {% if User_Profile.clinic_name|length > 0 %}
      <li class="breadcrumb-item"><a href="http://127.0.0.1:8000/Hospital_Selection">{{ User_Profile.clinic_name }} </a></li>
    {% elif User_Profile.tlabid %}
      <li class="breadcrumb-item"><a href="{% url 'Selected' user_id=User_Profile.tlabid %}">{{ User_Profile.tlabid.name }} </a></li>
    <li class="breadcrumb-item"><a href="{% url 'select_speciality' service_provider_id=User_Profile.tlabid %}">Speciality</a></li>
     <li class="breadcrumb-item active" aria-current="page">Book Slot</li>
    {% else %}
       <li class="breadcrumb-item"><a href="{% url 'Selected' user_id=User_Profile.hospitalid %}">{{ User_Profile.hospitalid.hospitalid.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'select_speciality' service_provider_id=User_Profile.hospitalid %}">{{ User_Profile.specialization }}</a></li>
     <li class="breadcrumb-item"><a href="{% url 'book_appointment1' speciality=User_Profile.specialization service_provider_id=User_Profile.hospitalid %}">{{ User_Profile.doctorid.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Book Slot</li>
      {% endif %}
       </ol>
</div>
<div class="container-fluid" style="margin-top:20px;">
   <div class="jumbotron card">

   <h2 style="color:#3291a8;">Edit Date Of Appointment</h2>
       <hr>
       <form action="{% url 'change_date' %}" id="form1" method="post">
           {% csrf_token %}
            {% if User_Profile.tlabid %}
            <input type="text" hidden name="service_provider_id" value="{{ User_Profile.tlabid }}">
            {% elif User_Profile.clinic_name|length > 0 %}
                <input type="text" hidden name="service_provider_id" value="{{ User_Profile.doctorid }}">
            {% else %}
                <!--<input type="text" hidden name="service_provider_id" value="{{ User_Profile.hospitalid }}">
                --><input type="text" hidden name="service_provider_id" value="{{ User_Profile.doctorid }}">
                {% endif %}

           <input type="date" id="Appointment_Date" value="{{ date }}"class="form-control" name="date">
       </form>
   <h2 style="color:#3291a8;margin-top:20px;">Select Time Slot</h2>
    <hr>
    <div class="row">
    {% if slots|length > 0 %}
    {% for i in slots %}
        <div class="col-lg-3 col-md-6 col-6" style="margin-top:10px;">
            <form action="{% url 'Payment' %}" method="get">
                {% csrf_token %}
            {% if User_Profile.tlabid %}
            <input type="text" hidden name="service_provider_id" value="{{ User_Profile.tlabid }}">
            {% elif User_Profile.clinic_name|length > 0 %}
                <input type="text" hidden name="service_provider_id" value="{{ User_Profile.doctorid }}">
            {% else %}
                <!--<input type="text" hidden name="service_provider_id" value="{{ User_Profile.hospitalid }}">
                --><input type="text" hidden name="service_provider_id" value="{{ User_Profile.doctorid }}">
                {% endif %}
                <input type="text" value="{{ i|time:'H:i:s' }}" name="time_slot" hidden>
            <div class="card">
            <button type="submit" class="btn">{{ i|time }}</button></div>
            </form>
        </div>
        {% endfor %}
        {% else %}
        <center>No Slots Available</center>
        {% endif %}
    </div>


</div>
</div>
    </div>
</body>
</html>