<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
     {% include "main_app/header.html" %}
    {% include "main_app/common_css.html" %}
    {% if Details %}
    <title>Appointment Details</title>
    {% else %}
    <title>Receipt</title>
    {% endif %}
    <style>
        @media only screen and (max-width: 1024px) {
        *
        {
         font-size:25px!important;
        }
        }
    </style>
</head>
{% include 'main_app/navbar.html' %}
<body>
<div  class="jumbotron container-fluid" style="margin-top:60px;width:95%;">
<h5 style="text-align:center;color:#3291a8;">Receipt</h5>
<div class="card table-responsive">
        <table class="table table-striped container" style="margin-top:30px">
              <tr>
                <th>Appointment Id</th>
                  <td>{{ Appointment_Details.appointmentid }}</td>
              </tr>
              <tr>
              <tr>
                <th>Patient Name</th>
                  <td>{{ Appointment_Details.patientname }}</td></tr>
               {% if Appointment_Details.doctoremail  %}
              <tr>
                  <th>Doctor Email</th>
                  <td>{{ Appointment_Details.doctoremail }}</td></tr>
              <tr>
                  <th>Address</th>
                  {% if doctor_details.hospitalid %}
                  <td>{{ doctor_details.hospitalid.area }},{{ doctor_details.hospitalid.city }},{{ doctor_details.hospitalid.country }}</td></tr>
                  {% else %}
                  <td>{{ doctor_details.area }},{{ doctor_details.city }},{{ doctor_details.country }}</td></tr>
                  {% endif %}
            {% elif Appointment_Details.TestingLabId %}
            <tr>
                  <th>Testing Lab Name</th>
                  <td>{{  Appointment_Details.TestingLabId.tlabid.name }}</td>
              </tr>
            <tr>
                  <th>Testing Lab Email</th>
                  <td>{{  Appointment_Details.TestingLabId.tlabid.email }}</td>
              </tr>

            <tr>
                  <th>Test Name</th>
                  <td>{{  Appointment_Details.Speciality }}</td>
              </tr>
              <tr>
                  <th>Address</th>
                  <td>{{  Appointment_Details.TestingLabId.area }} {{  Appointment_Details.TestingLabId.city }} {{  Appointment_Details.TestingLabId.country }}</td>
              </tr>

            {% endif %}
             <tr>
            <th>Appointment Date</th>
                 <td>{{ Appointment_Details.appointment_date }}</td>
              </tr>
            {% if Appointment_Details.meeting_url  %}
               <tr>
            <th>Meeting Url</th>
                   <td><a href="{{ Appointment_Details.meeting_url }}">{{ Appointment_Details.meeting_url }}</a></td>
              </tr>
            {% endif %}
             <tr>
            <th>Appointment Time</th>
                 <td>{{ Appointment_Details.appointment_time }}</td>
              </tr>
             <tr>
            <th>Mode</th>
                 <td>{{ Appointment_Details.mode_of_meeting }}</td>
              </tr>
            <tr>
            <th>Fee</th>
                 <td>{{ Appointment_Details.amount_paid }}</td>
              </tr>
  </table>
    <center>
        <button type="button" class="btn btn-success"onclick="window.print()">Print Receipt</button>
    </center>
    </div>

</div>
</body>
</html>