<!-- Here User can select the speciality -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Select Speciality</title>
     {% include "main_app/header.html" %}
     {% include 'main_app/common_css.html' %}
    <style>
      @media only screen and (max-width: 1024px) {
        .container-fluid
        {
         font-size:30px!important;
        }
        .card
        {
       margin-top:20px;
       height:60px!important;
        }
        @media only screen and (max-width: 500px) {
        .container-fluid
        {
         font-size:20px!important;
        }
        .card
        {
       margin-top:20px;
       height:60px!important;
        }
        }
     .card
     {
       margin-top:20px;
       height:60px;
     }
    </style>
    <script>
        $(document).ready(function(){
        $("#Appointment_Date").on("change",function(){
        var date=$("#Appointment_Date").val();
        var d=new Date();
        var d1=new Date(date);

         $.ajax(
        {
             type:"get",
             url:"/select_speciality/date/",
             data:
             {
              date:date
             },
             success:function(data)
             {
              
             }
        });
        });
        });
    </script>
    <script>
        function validate()
        {
        var date=document.getElementById("Appointment_Date").value;
        var d=new Date();
        var d1=new Date(date);
        if(!Date.parse(date)){
         alert('Please Select Appropriate Date');
            return false;
        }
        }
    </script>
    <script>
        $(document).ready(function()
        {
           var dt=new Date();
           var month=dt.getMonth()+1;
           var day=dt.getDate()+1;
           var year=dt.getFullYear();
           if(month < 10)
               month='0'+month.toString();
           if(day < 10)
               day='0'+day.toString();

           var maxDate=year+'-'+month+'-'+day;
           $("#Appointment_Date").attr('min',maxDate);
        });
    </script>
</head>
{% include 'main_app/navbar.html' %}
<body  style="margin-top:80px;">
<div class="container-fluid">
{% if Hospital_Details %}
<div class="row">
    {% if Hospital_Details.hospital_logo %}
        <div class="col-lg-1">
       <image src="{{ Hospital_Details.hospital_logo.url }}" style="width:100px;height:40px;"></image></div>
         <div class="col-lg-5">
             {% else %}
             <div class="col-lg-6">
                 {% endif %}
             <h3>{{ Hospital_Details.hospitalid.name }}</h3></div>
    </div>
    {% elif Testing_Lab_Details %}
    <div class="row">
        {% if Testing_Lab_Details.tlab_logo %}
        <div class="col-lg-1">
       <image src="{{ Testing_Lab_Details.tlab_logo.url }}" style="width:100px;height:40px;"></image></div>
         <div class="col-lg-5">
             {% else %}
             <div class="col-lg-6">
                 {% endif %}
             <h3>{{ Testing_Lab_Details.tlabid.name }}</h3></div>
    </div>
    {% endif %}
<div style="margin-top:20px;">
    <ol class="breadcrumb">
    {% if Testing_Lab_Details %}
    <li class="breadcrumb-item"><a href="{% url 'Selected' user_id=Testing_Lab_Details.tlabid %}">{{ Testing_Lab_Details.tlabid.name }}</a></li>
    {% else %}
    <li class="breadcrumb-item"><a href="{% url 'Selected' user_id=Hospital_Details.hospitalid %}">{{ Hospital_Details.hospitalid.name }}</a></li>
    {% endif %}
        <li class="breadcrumb-item active" aria-current="page">Speciality</li>
    </ol>
 </div>
<div class="jumbotron" style="margin-top:50px;">
         <div class="form-group">
             <label for="Appointment_Date" style="color:#3291a8;"><h3>Date Of Appointment:</h3></label>
                <input type="date" required class="form-control" value="{{ date }}"id="Appointment_Date" name="date">
         </div>
    {% if Hospital_Details %}
         <h3 style="color:#3291a8;"> Select Speciality </h3>
         <div class="row">
        {% for i in specialities %}
             <div class="col-lg-4 col-md-6 col-sm-4">
                     <form action='{% url "book_appointment1" speciality=i service_provider_id=Hospital_Details.hospitalid %}' onsubmit="return validate()">
                         <div class="card">
                     <button type="submit" class="btn" style="margin-top:10px;font-size:15px;" >{{ i }}<span style="float:right;"> ></span></button>
                        </div>
                     </form>
             </div>
        {% endfor %}
         </div>
    {% elif Testing_Lab_Details %}
        <h3 style="color:#3291a8;"> Select Test </h3>
    <div class="row">
        {% for i in specialities %}
             <div class="col-lg-4 col-md-6 col-12">
                     <form action="{% url 'Appointment_Details_Submission1' %}" onsubmit="return validate()" method="get" >
                         {% csrf_token %}
                         <div class="card">
                      <input type="text" hidden value="{{ Testing_Lab_Details.tlabid }}" name="service_provider_id">
                      <input type="text" name="speciality" value="{{ i }}" hidden >
                     <button type="submit" class="btn" style="margin-top:10px;" >{{ i }}<span style="float:right;"> ></span></a></button>
                        </div>
                     </form>
             </div>
        {% endfor %}
        </div>
    {% endif %}

{% include 'main_app/show_messages.html' %}
</div>
        </div>
</div>
</div>
</body>
</html>