<!-- Here User Can select the Doctor -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Select Doctor</title>
     {% include "main_app/header.html" %}
    {% include 'main_app/common_css.html' %}
    <link rel="stylesheet" href="{% static 'main_app/css/select_doctor.css' %}">
    <script>
        $(document).ready(function(){
        $(".btn").on("click",function(){
        var id1=$(this).attr('id');
        $(".mode").val(id1);
        });
        });
    </script>
</head>
{% include 'main_app/navbar.html' %}
<body style="margin-top:80px;">
<div class="container-fluid">
<div style="margin-top:10px;">
    <div>
        <image src="{{ Hospital_Details.hospital_logo.url }}" style="width:100px;height:40px;"><h3>{{ Hospital_Details.hospitalid.name }}</h3></image>

    </div>
    <div style="margin-top:10px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'Selected' user_id=Hospital_Details.hospitalid %}">{{ Hospital_Details.hospitalid.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'select_speciality' service_provider_id=Hospital_Details.hospitalid %}">Speciality</a></li>
      <li class="breadcrumb-item active" aria-current="page">List Of Doctors</li>
  </ol>
</div>
        <div class="jumbotron">
        {% if list_of_Doctors|length > 0 %}
    <h3 style="color:#3291a8;">Select Doctor </h3>
        <div class="row">
        {% for i in list_of_Doctors %}
             <div class="col-xl-4 col-lg-6 col-12" style="margin-top:10px;">
                 <div class="card">
                     <center>
             {% if i.profile_pic %}
            <a href='/user/profile/{{ i.doctorid }}'><image src="{{ i.profile_pic.url }}" class="img1"></image></a>
              {% else %}
                         <a href='/user/profile/{{ i.doctorid }}'><image src="{% static 'image6.jpeg' %}" class="img1"></image></a>
                         {% endif %}
                     </center>
            <table class="table-stripped">
                <tr>
                    <th class="t">Name:</th>
                    <td class="t">{{ i.doctorid.name }}</td>
                </tr>
                <tr>
                    <th class="t" >Speciality:</th>
                    <td class="t">{{ i.specialization }}</td>

                </tr>
                <tr>
                    <th class="t">Hospital Name:</th>
                    <td class="t">{{ i.hospitalid.hospitalid.name }}</td>
                </tr>
                <tr>
                    <th class="t">Experience:</th>
                    <td class="t">{{ i.experience }} Years</td>
                </tr>
                <tr>
                    <form action="{% url 'Appointment_Details_Submission1' %}"  id="form1" method="get">

                        <input type="text" hidden value="{{ i.doctorid }}" name="service_provider_id">
                        <!--<input type="text" hidden value="{{ Hospital_Details.hospitalid }}" name="service_provider_id"-->
                        <input type="text" hidden value="" name="mode" class="mode">
                        <th><button class="btn btn-primary col-12" style="font-size:14px;" id="Online" type="submit"><b class="bu">Book Online Consultation</b></button></th>
                        <td><button class="btn btn-primary col-12"  style="font-size:14px;" id="Offline" type="submit"><b class="bu">Book Offline Appointment</b></button></td>
                </form>
                </tr>
            </table>
        </div>
             </div>
        {% endfor %}
    </div>
        {% else %}
        <center>
        <h3 style="color:#3291a8;">No Doctors Available</h3></center>
        {% endif %}
</div>
</div>
{% include 'main_app/show_messages.html' %}
</div>
</body>
</html>