<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Book Appointment</title>
     {% include "main_app/header.html" %}
    {% include 'main_app/common_css.html' %}
    <link rel="stylesheet" href="{% static 'Hospital_Selection.css' %}">
    <style>
     @media only screen and (max-width: 720px) {
     button
     {
     font-size:11px !important;
     }
     }
     .card
     {
       margin-top:10px;
     }
     card:hover
     {
        color:green;
     }

    </style>
    <script>
        $(document).ready(function(){
        $(".btn").on("click",function(){
        var id1=$(this).attr('id');

        $(".mode").val(id1);

        });
        });
    </script>
</head>
<body class="container-fluid">
<div class="container-fluid">
    <div class="row">
        <image src="{{ Hospital_Details.hospital_logo.url }}" style="width:100px;height:40px;"></image>
        <h3>{{ Hospital_Details.hospitalid.name }}</h3>

    </div>
    <!--div style="margin-left:10px;"><a href="http://127.0.0.1:8000/Selected/{{ Hospital_Details.hospitalid }}">Home</a>/<a href="http://127.0.0.1:8000/select_speciality/">Specialities</a>/Doctors</div-->
    <div class="jumbotron">
        {% if list_of_Doctors|length > 0 %}
    <h3 style="color:#3291a8;">Select Doctor </h3>
        <div class="row">
        {% for i in list_of_Doctors %}
             <div class="col-lg-4 col-md-2" style="margin-top:10px;">
                 <div class="card">
                     <center>
            <image src="{{ i.profile_pic.url }}" width="200px" height="200px"></image></center>
            <table class="table-stripped">
                <tr>
                    <th>Name:</th>
                    <td>{{ i.doctorid.name }}</td>
                </tr>
                <tr>
                    <th>Speciality:</th>
                    <td>{{ i.specialization }}</td>

                </tr>
                <tr>
                    <th>Hospital Name:</th>
                    <td>{{ i.hospitalid.hospitalid.name }}</td>
                </tr>
                <tr>
                    <form action="{% url 'Appointment_Details_Submission1' %}"  id="form1" method="post">
                        {% csrf_token %}
                        <input type="text" hidden value="{{ i.doctorid }}" name="doctorid">
                        <input type="text" hidden value="" name="mode" class="mode">
                    <th><button class="btn btn-primary" style="font-size:14px;" id="Online" type="submit">Book Online Consultation</button></th>
                <td><button class="btn btn-primary"  style="font-size:14px;" id="Remote" type="submit">Book Offline Appointment</button></td>
                </form>
                </tr>
            </table>
        </div>
             </div>
        {% endfor %}
    </div>
        {% else %}
        <center>
        <h3 style="color:#3291a8;">No Doctors Available</h3></center>
        {% endif %}
</div>
</div>
{% include 'main_app/show_messages.html' %}
</body>
</html>