{% load static %}
<section id="services_section">

    <section class="service row" style="width: 100%; margin: auto;">
        <div class="col-12 col-lg-6 service_image_container">
            <div id="image1" class="service_image"></div>
        </div>
        <div class="col-12 col-lg-6 service_text_container">
            <div class="service_text">
            <h2>Explore A Wide Range Of Healthcare Services</h2>
            <p>Neerog is a virtual marketplace which provides a wide range of medical services from various clinics, hospitals and testing labs across the globe. All you have to do is register and start using our services. We're also planning to add support for various other medical organizations and pharma sellers in the comming future.</p>
            </div>
        </div>
    </section>

    <section class="service row" style="width: 100%; margin: auto;">
        <div class="col-12 col-lg-6 service_text_container">
            <div class="service_text">
            <h2>Book Appointments Online and Consult Remotely</h2>
            <p>You can book an appointment with the doctor, hospital or testing lab of your choice from the website and print your appointment receipt, which a they can easily verify by its appointment id at the time of the appointment. Not just that, we also provide a feature to consult doctor remotely during an appointment.</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 service_image_container">
            <div id="image2" class="service_image"></div>
        </div>
    </section>

    <section class="service row" style="width: 100%; margin: auto;">
        <div class="col-12 col-lg-6 service_image_container">
            <div id="image3" class="service_image"></div>
        </div>
        <div class="col-12 col-lg-6 service_text_container">
            <div class="service_text">
            <h2>Keep Track Of Your Appointments</h2>
            <p>Neerog also provides features for easy management and verification of appointments. A user can see the list of appointments he/she has on the home/dashboard page and also gets a reminder via e-mail 60 minutes prior to the appointment. One can easily search and manage all the upcoming or past appointments through the dashboard.</p>
            </div>
        </div>
    </section>

    <section class="service row" style="width: 100%; margin: auto;">
        <div class="col-12 col-lg-6 service_text_container">
            <div class="service_text">
            <h2>And It's All Free</h2>
            <p>What if I say, we'll provide all these features and all for free. Yes, you just have to pay the appointment fee as specified by the medical facility, no extra charges on it. You don't have to pay any monthly subscription charges or registeration fee at all. It is totally free for all the organizations and doctors as well who register on the platform.</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 service_image_container">
            <div id="image4" class="service_image"></div>
        </div>
    </section>
    
    
</section>