{% load static %}
<section id="services_section">

    <section class="service row" style="width: 100%; margin: auto;">
        <div class="col-12 col-lg-6 service_image_container">
            <div id="image1" class="service_image"></div>
        </div>
        <div class="col-12 col-lg-6 service_text_container">
            <div class="service_text">
            <h2>Explore A Wide Range Of Healthcare Services</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, beatae, vel accusamus facilis, eligendi consequatur minima voluptatibus excepturi voluptatum ex quisquam assumenda corrupti? Fugiat, harum. Aut sint quaerat omnis nihil pariatur dolorem dignissimos aperiam fuga quasi. Ipsa nemo quisquam et?</p>
            </div>
        </div>
    </section>

    <section class="service row" style="width: 100%; margin: auto;">
        <div class="col-12 col-lg-6 service_text_container">
            <div class="service_text">
            <h2>Book Appointments Online and Consult Remotely</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, beatae, vel accusamus facilis, eligendi consequatur minima voluptatibus excepturi voluptatum ex quisquam assumenda corrupti? Fugiat, harum. Aut sint quaerat omnis nihil pariatur dolorem dignissimos aperiam fuga quasi. Ipsa nemo quisquam et?</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 service_image_container">
            <div id="image2" class="service_image"></div>
        </div>
    </section>

    <section class="service row" style="width: 100%; margin: auto;">
        <div class="col-12 col-lg-6 service_image_container">
            <div id="image3" class="service_image"></div>
        </div>
        <div class="col-12 col-lg-6 service_text_container">
            <div class="service_text">
            <h2>Keep Track Of Your Appointments</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, beatae, vel accusamus facilis, eligendi consequatur minima voluptatibus excepturi voluptatum ex quisquam assumenda corrupti? Fugiat, harum. Aut sint quaerat omnis nihil pariatur dolorem dignissimos aperiam fuga quasi. Ipsa nemo quisquam et?</p>
            </div>
        </div>
    </section>

    <section class="service row" style="width: 100%; margin: auto;">
        <div class="col-12 col-lg-6 service_text_container">
            <div class="service_text">
            <h2>And It's All Free</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, beatae, vel accusamus facilis, eligendi consequatur minima voluptatibus excepturi voluptatum ex quisquam assumenda corrupti? Fugiat, harum. Aut sint quaerat omnis nihil pariatur dolorem dignissimos aperiam fuga quasi. Ipsa nemo quisquam et?</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 service_image_container">
            <div id="image4" class="service_image"></div>
        </div>
    </section>
    
    
</section>