<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Verify Certificate</title>
    {% include "main_app/header.html" %}
    <link rel="stylesheet" href="{% static 'Hospital_Selection.css' %}">
    <style>
        th
        {
         color:white;
        }
    </style>
</head>
<body>
<div class="container-fluid">
 <image src="{% static 'image6.jpeg' %}" height="300px" width="100%"></image>
 <h1 style="position:absolute;margin-top:-200px;color:white;">Verify Certificate</h1>
<div class="card-body">
        <div class="table-responsive">
        <table class="table table-stripped" style="margin-top:30px;" width="100%" >
            {% if list_of_certificates %}
            <thead style="background-color:#404040;">
              <tr>
                <th> Id</th>
                <th>Name</th>
                  <th> Email</th>
                  <th>User Type</th>
                  <th>Mobile</th>
                  <th>Certificate</th>
                  <th>Verify Certificate</th>
              </tr>
           <tbody>
        {% for i,j in list_of_certificates.items %}
        {% for k in j %}
          <tr>
              {% ifequal i "Hospital" %}
              <td><a href='/selected/{{ k.hospitalid }}'>{{ k.hospitalid }}</a></td>
            <td>{{  k.hospitalid.name }}</td>
            <td>{{  k.hospitalid.email }}</td>
               <td>Hospital</td>
              <td>{{  k.phone }}</td>

              <td><a href="{{ k.certificate.url }}">{{ k.certificate }}</a></td>
              {% ifequal k.verified "No" %}
            <td><button class="btn btn-success" onclick="location.href='{% url 'verify_certificate' id=k.hospitalid %}'">Verify Certificate</button></td>
              {% else %}
              <td>Certificate Verified</td>
              {% endifequal %}
               {% endifequal %}
               {% ifequal i "Doctor" %}
              <td><a href='/user/profile/{{ k.doctorid }}'>{{ k.doctorid }}</a></td>
            <td>{{  k.doctorid.name }}</td>
            <td>{{  k.doctorid.email }}</td>
              <td>Doctor</td>
              <td>{{  k.phone }}</td>
              <td><a href="{{ k.certificate.url }}">{{ k.certificate }}</a></td>
              {% ifequal k.verified "No" %}
            <td><button class="btn btn-success" onclick="location.href='{% url 'verify_certificate' id=k.doctorid %}'">Verify Certificate</button></td>
              {% else %}
              <td>Certificate Verified</td>
              {% endifequal %}
               {% endifequal %}
               {% ifequal i "Testing_Lab" %}
              <td><a href='/selected/{{ k.tlabid }}'>{{ k.tlabid }}</a></td>
            <td>{{  k.tlabid.name }}</td>
            <td>{{  k.tlabid.email }}</td>
              <td>Testing Lab</td>
              <td>{{  k.phone }}</td>

              <td><a href="{{ k.certificate.url }}">{{ k.certificate }}</a></td>
              {% ifequal k.verified "No" %}
            <td><button class="btn btn-success" onclick="location.href='{% url 'verify_certificate'  id=k.tlabid %}'">Verify Certificate</button></td>
              {% else %}
              <td>Certificate Verified</td>
              {% endifequal %}
               {% endifequal %}

          </tr>
        {% endfor %}
        </tbody>
            {% endfor %}
            {% else %}
            <center>No Certificate to Verify Availaible</center>
            {% endif %}
  </table>
    </div>
</div>
</div>
</body>
</html>