<<<<<<< HEAD
@media only screen and (max-width: 800px) {
     .container-fluid
     {
       font-size:25px !important;
     }
     h2 span
     {
     font-size:35px!important;
     }
     span
     {
       font-size:25px;
     }
     .news
     {
        width:650px !important;
        height:350px !important;
     }
     .spec
     {
      margin-left:10px !important;
      }
      .img1
    {
     width:100%;
     height:400px !important;
     }
     #test1
     {
       font-size:45px!important;
       margin-left:23px !important;
     }
  .dot {
  height: 80px!important;
  width: 80px!important;
  font-size:35px!important;
  background-color:#006699;
  border-radius: 50%;
  margin-top:30px!important;
  display: inline-block;
}
.detail
     {
       margin-top:30px!important;
     }
     #test
        {
        margin-left:20px !important;
        height:180px!important;

        }
     .speciality
     {
       margin-top:30px!important;
     }
     #fee
     {
     margin-left:90px!important;
     margin-top:-80px!important;
     }
      }
     @media only screen and (max-width: 520px) {
     .container-fluid
     {
       font-size:20px !important;
     }
     #fee
     {
     margin-left:75px!important;
     margin-top:-55px!important;
     }
     #test
        {
        margin-left:20px!important;
        height:120px!important;
        }
     span
     {
       font-size:15px;
     }
     .news
     {
        width:300px !important;
        height:250px !important;
     }
     .spec
     {
      margin-left:10px !important;
      }
      .img1
    {
     width:100%;
     height:300px !important;
     }
     #test1
     {
=======
@media only screen and (max-width: 960px)
          {
           .container-fluid
          {
           font-size:25px !important;
          }
          #submit_form
          {
            margin-left:300px;
          }

           .col-8
           {
             margin-top:10px!important;
           }
           .col-4
           {
             margin-top:10px!important;
             float:left !important;
           }
          .search_button{
             width:80px !important;
             }
             .col-5
             {
              margin-left:-30px !important;
             }
             .col-6
             {
             margin-top:3vw !important;
             }
             .col-lg-4 button
           {
              width:135px !important;
              font-size:10px !important;
           }
           .img1
            {
               height:200px !important;
>>>>>>> 42c69225a377f1df7f2dfdde4faaf5dcc282a6ef

               }
          }
          @media only screen and (max-width: 500px)
          {
          .container-fluid
          {
           font-size:15px !important;
          }
          #submit_form
          {
            margin-left:0px!important;
          }
           .col-8
           {
             margin-top:10px!important;
           }
           .col-4
           {
             margin-top:10px!important;
             float:left !important;
           }
          .search_button{
             width:80px !important;
             }
             .col-5
             {
              margin-left:-30px !important;
             }
             .col-6
             {
             margin-top:3vw !important;
             }
             .col-lg-4 button
           {
              width:154px !important;
              font-size:12px !important;
           }
           .bu
           {
            font-size:12px!important;
           }

           .img1
            {
               height:200px !important;

               }
          }

          .search_button
          {
            width:100px;
            }
            .img1
            {
               height:20vw;

               }
           .col-lg-4 button
           {
              width:205px;
              font-size:15px;
           }
           .model
           {
              width:150px;
           }
           .th1
           {
            padding:2px 2px 2px 10px;

           }