@media only screen and (max-width: 960px)
          {
           .container-fluid
          {
           font-size:30px !important;
          }
          #submit_form
          {
            margin-left:300px;
          }
           .col-8
           {
             margin-top:10px!important;
           }
           .col-4
           {
             margin-top:10px!important;
             float:left !important;
           }
          .search_button{
             width:80px !important;
             }
             .col-5
             {
              margin-left:-30px !important;
             }
             .col-6
             {
             margin-top:3vw !important;
             }
             .col-lg-4 button
           {
              width:340px !important;
              font-size:20px !important;
           }
           .img1
            {
               height:400px !important;

               }
          }
          @media only screen and (max-width: 500px)
          {
          .container-fluid
          {
           font-size:22px !important;
          }
          #submit_form
          {
            margin-left:0px!important;
          }
           .col-8
           {
             margin-top:10px!important;
           }
           .col-4
           {
             margin-top:10px!important;
             float:left !important;
           }
          .search_button{
             width:80px !important;
             }
             .col-5
             {
              margin-left:-30px !important;
             }
             .col-6
             {
             margin-top:3vw !important;
             }
             .col-lg-4 button
           {
              width:154px !important;
              font-size:12px !important;
           }
           .img1
            {
               height:200px !important;

               }
          }

          .search_button
          {
            width:100px;
            }
            .img1
            {
               height:20vw;

               }
           .col-lg-4 button
           {
              width:205px;
              font-size:15px;
           }
           .model
           {
              width:150px;
           }
           .th1
           {
            padding:2px 2px 2px 10px;

           }