#prompt_section
{
    background-color: rgb(52, 58, 84);
    width:100%;
    padding: 100px 0 130px 0;
    color:white;
    display: table;
    font-family: 'Noto Serif';
}

.prompt_content
{
    display: table-cell;
    width: calc(100% - 100px);
    margin:auto;
    vertical-align: middle;
    text-align: center;
}

.prompt_content h2
{
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
}

.prompt_content a
{
    color:rgb(52, 58, 84);
    background-color:rgba(255,255,255, 0.9);
    text-decoration: none;
    padding: 12px 35px 14px 35px;
    font-size: 20px;
    font-weight: 600;
    border:2px solid rgb(32, 38, 64);
    border-radius: 30px;
}

.prompt_content a:hover
{
    background-color:rgba(255,255,255, 0.8);
    text-decoration: none;
}