/* For displaying messages */
.mymessage
{
    background-color: rgba(255, 69, 0, 0.8);
    position: fixed;
    bottom: 0px;
    right:2px;
    width: 450px;
}

@media (max-width: 800px)
{
    .mymessage
    {
        width:100%;
        bottom: -20px;
    }
}